[KCM Locale]
Name=Morocco
Name[uk]=Марокко
Name[x-test]=xxMoroccoxx
Region=northafrica
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=MAD
CurrencyCode=MAD
