[KCM Locale]
Name=Faroe Islands
Name[ca]=Illes Faroe
Name[de]=Färöer-Inseln
Name[hr]=Farski otoci
Name[ka]=ფარერის კუნძულები
Name[nb]=Færøyene
Name[nl]=Faeröer Eilanden
Name[nn]=Færøyane
Name[pl]=Wyspy Faroe
Name[pt_BR]=Ilhas Feroe
Name[se]=Fearsuolu
Name[sk]=Faerské ostrovy
Name[sr]=Фарска острва
Name[sr@ijekavian]=Фарска острва
Name[sr@ijekavianlatin]=Farska ostrva
Name[sr@latin]=Farska ostrva
Name[sv]=Färöarna
Name[uk]=Фарерські острови
Name[x-test]=xxFaroe Islandsxx
Region=northeurope
Languages=fa,da
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[fo]=%A %d %B %Y
DateFormatShort=%d/%m/%Y
TimeFormat=%l:%M:%S %p
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=DKK
CurrencyCode=DKK
