[KCM Locale]
Name=Malaysia
Name[ca]=Malàisia
Name[cs]=Malajsie
Name[de]=Malaysia
Name[fi]=Malesia
Name[gl]=Malaisia
Name[hr]=Malezija
Name[ia]=Malaysia
Name[it]=Malaysia
Name[ka]=მალაიზია
Name[nb]=Malaysia
Name[nds]=Malaysia
Name[nl]=Maleisië
Name[nn]=Malaysia
Name[pl]=Malezja
Name[pt]=Malásia
Name[pt_BR]=Malásia
Name[se]=Malaysia
Name[sk]=Malajzia
Name[sr]=Малезија
Name[sr@ijekavian]=Малезија
Name[sr@ijekavianlatin]=Malezija
Name[sr@latin]=Malezija
Name[sv]=Malaysia
Name[uk]=Малайзія
Name[x-test]=xxMalaysiaxx
Name[zh_CN]=马来西亚
Region=southeastasia
Languages=my,zh_CN,ta,en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=MYR
CurrencyCode=MYR
