[KCM Locale]
Name=America, Central
Name[ca]=Amèrica Central
Name[cs]=Amerika, Střední
Name[de]=Amerika, Zentrales
Name[hr]=Amerika, središnja
Name[ia]=America, Central
Name[it]=America, Centro
Name[ka]=ამერიკა, ცენტრალური
Name[nl]=Amerika, Centraal
Name[nn]=Sentral-Amerika
Name[pl]=Ameryka Środkowa
Name[pt]=América Central
Name[pt_BR]=América Central
Name[se]=Guovddáš Amerihká
Name[sk]=Stredná Amerika
Name[sr]=Америка, централна
Name[sr@ijekavian]=Америка, централна
Name[sr@ijekavianlatin]=Amerika, centralna
Name[sr@latin]=Amerika, centralna
Name[sv]=Amerika, central
Name[uk]=Америка, центральна
Name[x-test]=xxAmerica, Centralxx
