[KCM Locale]
Name=America, North
Name[ca]=Amèrica del Nord
Name[cs]=Amerika, Severní
Name[de]=Amerika, Nördliches
Name[hr]=Amerika, sjeverna
Name[ia]=America del Nord
Name[it]=America, Nord
Name[ka]=ამერიკა, ჩრდილოეთი
Name[nds]=Amerika, Noord-
Name[nl]=Amerika, Noord
Name[nn]=Nord-Amerika
Name[pl]=Ameryka Północna
Name[pt]=América do Norte
Name[pt_BR]=América do Norte
Name[se]=Davvi-Amerihká
Name[sk]=Severná Amerika
Name[sr]=Америка сјеверна
Name[sr@ijekavian]=Америка сјеверна
Name[sr@ijekavianlatin]=Amerika sjeverna
Name[sr@latin]=Amerika sjeverna
Name[sv]=Amerika, nord
Name[uk]=Америка, північна
Name[x-test]=xxAmerica, Northxx
