[KCM Locale]
Name=Europe, Southern
Name[ca]=Europa del Sud
Name[cs]=Evropa, Jižní
Name[de]=Europa, Südliches
Name[gl]=Europa Meridional
Name[hr]=Europa, južna
Name[ia]=Europa, Meridional
Name[it]=Europa, meridionale
Name[ka]=ევროპა, სამხრეთი
Name[nds]=Europa, Sööd-
Name[nl]=Europa, Zuid
Name[nn]=Sør-Europa
Name[pl]=Europa Południowa
Name[pt]=Europa (Sul)
Name[pt_BR]=Europa Meridional
Name[se]=Lulli-Eurohpa
Name[sk]=Južná Európa
Name[sr]=Европа, јужна
Name[sr@ijekavian]=Европа, јужна
Name[sr@ijekavianlatin]=Evropa, južna
Name[sr@latin]=Evropa, južna
Name[sv]=Europa, södra
Name[uk]=Європа, південна
Name[x-test]=xxEurope, Southernxx
