[KCM Locale]
Name=Africa, Southern
Name[ca]=Àfrica del Sud
Name[de]=Afrika, Südliches
Name[hr]=Afrika, južna
Name[it]=Africa, meridionale
Name[ka]=აფრიკა, სამხრეთი
Name[nl]=Afrika, Zuid-
Name[nn]=Sør-Afrika
Name[pl]=Afryka Południowa
Name[pt]=África, Sul
Name[pt_BR]=Sul da África
Name[se]=Lulli-Afrihká
Name[sk]=Južná Afrika
Name[sr]=Африка, јужна
Name[sr@ijekavian]=Африка, јужна
Name[sr@ijekavianlatin]=Afrika, južna
Name[sr@latin]=Afrika, južna
Name[sv]=Afrika, syd
Name[uk]=Африка, південна
Name[x-test]=xxAfrica, Southernxx
