[KCM Locale]
Name=Africa, Southern
Name[ar]=جنوب إفريقيا
Name[ca]=Àfrica del Sud
Name[cs]=Afrika, Jižní
Name[de]=Afrika, Südliches
Name[en_GB]=Africa, Southern
Name[es]=África austral
Name[fa]=آفریقای جنوبی
Name[fi]=Etelä-Afrikka
Name[fr]=Afrique du Sud
Name[gl]=África, Sur
Name[hr]=Afrika, južna
Name[ia]=Africa, Meridional
Name[id]=Afrika, Selatan
Name[it]=Africa, meridionale
Name[ka]=აფრიკა, სამხრეთი
Name[nb]=Sør-Afrika
Name[nds]=Afrika, Sööd-
Name[nl]=Afrika, Zuid-
Name[nn]=Sør-Afrika
Name[pa]=ਅਫਰੀਕਾ, ਦੱਖਣੀ
Name[pl]=Afryka Południowa
Name[pt]=África, Sul
Name[pt_BR]=Sul da África
Name[ru]=Южная Африка
Name[se]=Lulli-Afrihká
Name[sk]=Južná Afrika
Name[sl]=Afrika, južna
Name[sr]=Африка, јужна
Name[sr@ijekavian]=Африка, јужна
Name[sr@ijekavianlatin]=Afrika, južna
Name[sr@latin]=Afrika, južna
Name[sv]=Afrika, syd
Name[uk]=Африка, південна
Name[x-test]=xxAfrica, Southernxx
Name[zh_CN]=南非
Name[zh_TW]=索馬利亞
