[KCM Locale]
Name=Sudan
Name[uk]=Судан
Name[x-test]=xxSudanxx
Region=northafrica
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=SDG
CurrencyCode=SDG
