[KCM Locale]
Name=New Caledonia
Name[ca]=Nova Caledònia
Name[cs]=Nová Kaledonie
Name[de]=Neukaledonien
Name[fi]=Uusi-Kaledonia
Name[gl]=Nova Caledonia
Name[hr]=Nova Kaledonija
Name[ia]=Nove Caledonia
Name[it]=Nuova Caledonia
Name[ka]=ახალი კალედონია
Name[nds]=Nieg Kaledonien
Name[nl]=Nieuw-Caledonië
Name[nn]=Ny-Caledonia
Name[pl]=Nowa Kaledonia
Name[pt]=Nova Caledónia
Name[pt_BR]=Nova Caledônia
Name[se]=Ođđa Kaledonia
Name[sk]=Nová Kaledónia
Name[sr]=Нова Каледонија
Name[sr@ijekavian]=Нова Каледонија
Name[sr@ijekavianlatin]=Nova Kaledonija
Name[sr@latin]=Nova Kaledonija
Name[sv]=Nya Kaledonien
Name[uk]=Нова Каледонія
Name[x-test]=xxNew Caledoniaxx
Region=oceania
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=XPF
CurrencyCode=XPF
