[KCM Locale]
Name=Aruba
Name[ca]=Aruba
Name[de]=Aruba
Name[hr]=Aruba
Name[it]=Aruba
Name[ka]=არუბა
Name[nl]=Aruba
Name[nn]=Aruba
Name[oc]=Aruba
Name[pl]=Aruba
Name[pt_BR]=Aruba
Name[se]=Áruba
Name[sk]=Aruba
Name[sr]=Аруба
Name[sr@ijekavian]=Аруба
Name[sr@ijekavianlatin]=Aruba
Name[sr@latin]=Aruba
Name[sv]=Aruba
Name[uk]=Аруба
Name[x-test]=xxArubaxx
Region=caribbean
Languages=nl,en_GB,sp
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=AWG
CurrencyCode=AWG
