[KCM Locale]
Name=Iraq
Name[uk]=Ірак
Name[x-test]=xxIraqxx
Region=middleeast
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
WeekStartDay=7
WorkingWeekStartDay=4
WorkingWeekEndDay=5
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=IQD
CurrencyCode=IQD
