[KCM Locale]
Author=Denis Perchine <dyp@perchine.com>
Name=Russia
Name[ca]=Rússia
Name[hr]=Rusija
Name[ka]=რუსეთი
Name[nb]=Russland
Name[nl]=Rusland
Name[nn]=Russland
Name[pt_BR]=Rússia
Name[se]=Ruošša
Name[sk]=Rusko
Name[sr]=Русија
Name[sr@ijekavian]=Русија
Name[sr@ijekavianlatin]=Rusija
Name[sr@latin]=Rusija
Name[sv]=Ryssland
Name[uk]=Росія
Name[x-test]=xxRussiaxx
Region=easteurope
Languages=ru
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[ru]=%e %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%y
TimeFormat=%H:%M:%S
#WeekStartDay=
PageSize=0
MeasureSystem=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=RUB
CurrencyCode=RUB
