[Desktop Entry]
Name=Network Status
Name[ca]=Estat de la xarxa
Name[de]=Netzwerkstatus
Name[es]=Estado de la red
Name[fi]=Verkon tila
Name[hu]=Hálózatfigyelő
Name[ia]=Stato de Rete
Name[nds]=Nettwarkstatus
Name[nl]=Netwerkstatus
Name[pl]=Stan sieci
Name[pt]=Estado da Rede
Name[pt_BR]=Status da rede
Name[sk]=Stav siete
Name[sr]=Стање мреже
Name[sr@ijekavian]=Стање мреже
Name[sr@ijekavianlatin]=Stanje mreže
Name[sr@latin]=Stanje mreže
Name[sv]=Nätverksstatus
Name[tr]=Ağ Durumu
Name[uk]=Стан мережі
Name[x-test]=xxNetwork Statusxx
Name[zh_TW]=網路狀態
Comment=Tracks status of network interfaces and provides notification to applications using the network.
Comment[ca]=Fa un seguiment de l'estat de les interfícies de xarxa i proporciona notificació a les aplicacions usant la xarxa.
Comment[de]=Überprüft den Status von Netzwerkschnittstellen und benachrichtigt Programme, die das Netzwerk verwenden
Comment[es]=Monitoriza el estado de las interfaces de red y proporciona notificaciones a las aplicaciones que usan la red.
Comment[fi]=Seuraa verkkoliitäntöjen tilaa ja antaa ilmoituksia verkkoa käyttäville ohjelmille.
Comment[hu]=Figyeli a hálózati csatolók állapotát és értesítéseket küld a csatolókat használó alkalmazásoknak.
Comment[ia]=Il tracia le stato del interfacies de rete e il forni notification al applicationes que usa le rete.
Comment[nds]=Beluurt den Tostand vun de Nettwarkkoppelsteden un gifft Programmen Bescheed, de dat Nettwark bruukt
Comment[nl]=Volgt de status van netwerkinterfaces en levert meldingen aan programma's die het netwerk gebruiken.
Comment[pl]=Śledzi stan interfejsów sieciowych przekazuje informacje do programów wykorzystujących sieć.
Comment[pt]=Regista o estado das interfaces de rede e notifica as aplicações que necessitem da rede.
Comment[pt_BR]=Monitora o estado das interfaces de rede e fornece notificações para os aplicativos usando a rede.
Comment[sk]=Trasuje stav sieťových rozhraní a poskytuje pripomienky pre aplikácie používajúce sieť.
Comment[sr]=Прати стање мрежних сучеља и пружа обавештења програмима који приступају мрежи.
Comment[sr@ijekavian]=Прати стање мрежних сучеља и пружа обавештења програмима који приступају мрежи.
Comment[sr@ijekavianlatin]=Prati stanje mrežnih sučelja i pruža obaveštenja programima koji pristupaju mreži.
Comment[sr@latin]=Prati stanje mrežnih sučelja i pruža obaveštenja programima koji pristupaju mreži.
Comment[sv]=Följer status hos nätverksgränssnitt och tillhandahåller underrättelser till program som använder nätverket.
Comment[tr]=Ağ arayüzlerinin durumunu izler ve ağı kullanan uygulamalara bildirim sağlar.
Comment[uk]=Стежить за станом інтерфейсів мережі і надає сповіщення програмам, які використовують мережу для роботи.
Comment[x-test]=xxTracks status of network interfaces and provides notification to applications using the network.xx
Comment[zh_TW]=追蹤網路介面的狀態，提供通知給使用網路的應用程式
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=networkstatus
X-KDE-DBus-ModuleName=networkstatus
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true

