[KCM Locale]
Name=Sao Tome and Principe
Name[uk]=Сан-Томе і Принсипі
Name[x-test]=xxSao Tome and Principexx
Region=centralafrica
Languages=pt
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=STD
CurrencyCode=STD
