[KCM Locale]
Name=Vietnam
Name[ca]=Vietnam
Name[cs]=Vietnam
Name[de]=Vietnam
Name[es]=Vietnam
Name[fi]=Vietnam
Name[gl]=Vietnam
Name[hr]=Vijetnam
Name[ia]=Vietnam
Name[it]=Vietnam
Name[ka]=ვიეტნამი
Name[nb]=Vietnam
Name[nds]=Vietnam
Name[nl]=Vietnam
Name[nn]=Vietnam
Name[pl]=Wietnam
Name[pt]=Vietname
Name[pt_BR]=Vietnã
Name[se]=Vietnam
Name[sk]=Vietnam
Name[sl]=Vietnam
Name[sr]=Вијетнам
Name[sr@ijekavian]=Вијетнам
Name[sr@ijekavianlatin]=Vijetnam
Name[sr@latin]=Vijetnam
Name[sv]=Vietnam
Name[uk]=В'єтнам
Name[x-test]=xxVietnamxx
Name[zh_CN]=越南
Region=southeastasia
Languages=vi
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[vi]=%A %d %n %Y
DateFormatShort=%d.%n.%Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
MonetaryDecimalPlaces=0
CurrencyCodesInUse=VND
CurrencyCode=VND
