[KCM Locale]
Name=Malawi
Name[ca]=Malawi
Name[cs]=Malawi
Name[de]=Malawi
Name[es]=Malaui
Name[fi]=Malawi
Name[gl]=Malawi
Name[hr]=Malavi
Name[ia]=Malawi
Name[it]=Malawi
Name[ka]=მალავი
Name[nb]=Malawi
Name[nds]=Malawi
Name[nl]=Malawi
Name[nn]=Malawi
Name[pl]=Malawi
Name[pt]=Malawi
Name[pt_BR]=Malawi
Name[se]=Malawi
Name[sk]=Malawi
Name[sr]=Малави
Name[sr@ijekavian]=Малави
Name[sr@ijekavianlatin]=Malavi
Name[sr@latin]=Malavi
Name[sv]=Malawi
Name[uk]=Малаві
Name[x-test]=xxMalawixx
Name[zh_CN]=马拉维
Region=southafrica
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=MWK
CurrencyCode=MWK
