[KCM Locale]
Author=Danko Ilik <danko@mindless.com>
Name=Macedonia
Name[ca]=Macedònia
Name[cs]=Makedonie
Name[de]=Mazedonien
Name[es]=Macedonia
Name[fi]=Makedonia
Name[gl]=Macedonia
Name[hr]=Makedonija
Name[ia]=Macedonia
Name[it]=Macedonia
Name[ka]=მაკედონია
Name[nb]=Makedonia
Name[nds]=Makedonien
Name[nl]=Macedonië
Name[nn]=Makedonia
Name[pl]=Macedonia
Name[pt]=Macedónia
Name[pt_BR]=Macedônia
Name[se]=Makedonia
Name[sk]=Macedónsko
Name[sl]=Makedonija
Name[sr]=Македонија
Name[sr@ijekavian]=Македонија
Name[sr@ijekavianlatin]=Makedonija
Name[sr@latin]=Makedonija
Name[sv]=Makedonien
Name[uk]=Македонія
Name[x-test]=xxMacedoniaxx
Name[zh_CN]=马其顿
Languages=mk
Region=southeurope
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[mk]=%A %e. %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=MKD
CurrencyCode=MKD
