[KCM Locale]
Name=Marshall Islands
Name[ar]=جزر مارشال
Name[ca]=Illes Marshall
Name[cs]=Marshallovy ostrovy
Name[de]=Marshall-Inseln
Name[en_GB]=Marshall Islands
Name[es]=Islas Marshall
Name[fi]=Marshallinsaaret
Name[fr]=Îles Marshall
Name[gl]=Illas Marshall
Name[hr]=Marshall Otoci
Name[ia]=Insulas Marshall, le
Name[id]=Kepulauan Marshall
Name[it]=Isole Marshall
Name[ka]=მარშალის კუნძულები
Name[nb]=Marshalløyene
Name[nds]=Marshall-Eilannen
Name[nl]=Marshall Eilanden
Name[nn]=Marshalløyane
Name[pl]=Wyspy Marshalla
Name[pt]=Ilhas Marshall
Name[pt_BR]=Ilhas Marshall
Name[ru]=Маршалловы Острова
Name[se]=Marshallsullot
Name[sk]=Marshallove ostrovy
Name[sl]=Marshallovi otoki
Name[sr]=Маршалска острва
Name[sr@ijekavian]=Маршалска острва
Name[sr@ijekavianlatin]=Maršalska ostrva
Name[sr@latin]=Maršalska ostrva
Name[sv]=Marshallöarna
Name[uk]=Маршаллові острови
Name[x-test]=xxMarshall Islandsxx
Name[zh_CN]=马绍尔群岛
Region=oceania
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=USD
CurrencyCode=USD
