[KCM Locale]
Name=Somalia
Name[ca]=Somàlia
Name[cs]=Somálsko
Name[de]=Somalia
Name[es]=Somalia
Name[fi]=Somalia
Name[fr]=Somalie
Name[gl]=Somalia
Name[hr]=Somalija
Name[ia]=Somalia
Name[it]=Somalia
Name[ka]=სომალი
Name[nb]=Somalia
Name[nds]=Somalia
Name[nl]=Somalië
Name[nn]=Somalia
Name[pl]=Somalia
Name[pt]=Somália
Name[pt_BR]=Somália
Name[se]=Somália
Name[sk]=Somálsko
Name[sl]=Somalija
Name[sr]=Сомалија
Name[sr@ijekavian]=Сомалија
Name[sr@ijekavianlatin]=Somalija
Name[sr@latin]=Somalija
Name[sv]=Somalia
Name[uk]=Сомалі
Name[x-test]=xxSomaliaxx
Name[zh_CN]=索马里
Region=northafrica
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=SOS
CurrencyCode=SOS
