[KCM Locale]
Name=Iceland
Name[ca]=Islàndia
Name[cs]=Island
Name[de]=Island
Name[es]=Islandia
Name[fi]=Islanti
Name[fr]=Islande
Name[gl]=Islandia
Name[hr]=Island
Name[ia]=Islanda
Name[it]=Islanda
Name[ka]=ისლანდია
Name[nb]=Island
Name[nds]=Island
Name[nl]=IJsland
Name[nn]=Island
Name[pl]=Islandia
Name[pt]=Islândia
Name[pt_BR]=Islândia
Name[ru]=Исландия
Name[se]=Islánda
Name[sk]=Island
Name[sl]=Islandija
Name[sr]=Исланд
Name[sr@ijekavian]=Исланд
Name[sr@ijekavianlatin]=Island
Name[sr@latin]=Island
Name[sv]=Island
Name[uk]=Ісландія
Name[x-test]=xxIcelandxx
Name[zh_CN]=冰岛
Region=northeurope
Languages=is
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[is]=%A %e. %B %Y
DateFormatShort=%d.%m.%y
DateFormat[eo]=%A, la %ea de %B %Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=ISK
CurrencyCode=ISK
