[KCM Locale]
Name=Angola
Name[ca]=Angola
Name[cs]=Angola
Name[de]=Angola
Name[hr]=Angola
Name[ia]=Angola
Name[it]=Angola
Name[ka]=ანგოლა
Name[nb]=Angola
Name[nds]=Angola
Name[nl]=Angola
Name[nn]=Angola
Name[pl]=Angola
Name[pt]=Angola
Name[pt_BR]=Angola
Name[se]=Angola
Name[sk]=Angola
Name[sr]=Ангола
Name[sr@ijekavian]=Ангола
Name[sr@ijekavianlatin]=Angola
Name[sr@latin]=Angola
Name[sv]=Angola
Name[uk]=Ангола
Name[x-test]=xxAngolaxx
Region=southafrica
Languages=pt
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=AOA
CurrencyCode=AOA
