[KCM Locale]
Name=Croatia
Name[ca]=Croàcia
Name[hr]=Hrvatska
Name[ka]=ხორვატია
Name[nb]=Kroatia
Name[nl]=Kroatië
Name[nn]=Kroatia
Name[pt_BR]=Croácia
Name[se]=Kroátia
Name[sk]=Chorvátsko
Name[sr]=Хрватска
Name[sr@ijekavian]=Хрватска
Name[sr@ijekavianlatin]=Hrvatska
Name[sr@latin]=Hrvatska
Name[sv]=Kroatien
Name[uk]=Хорватія
Name[x-test]=xxCroatiaxx
Region=southeurope
Languages=hr
DecimalSymbol=,
ThousandsSeparator=
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[hr]=%a %d %B %Y.
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y.
TimeFormat=%H:%M:%S
DateMonthNamePossessive=true
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=HRK
CurrencyCode=HRK
