[KCM Locale]
Name=Fiji
Name[ca]=Fiji
Name[cs]=Fidži
Name[de]=Fidschi
Name[fi]=Fidži
Name[gl]=Fixi
Name[hr]=Fiji
Name[ia]=Fiji
Name[it]=Fiji
Name[ka]=ფიჯი
Name[nb]=Fiji
Name[nds]=Fidschi
Name[nl]=Fiji
Name[nn]=Fiji
Name[pl]=Fidżi
Name[pt]=Fiji
Name[pt_BR]=Fiji
Name[se]=Fiji
Name[sk]=Fidži
Name[sr]=Фиџи
Name[sr@ijekavian]=Фиџи
Name[sr@ijekavianlatin]=Fidži
Name[sr@latin]=Fidži
Name[sv]=Fiji
Name[uk]=Фіджі
Name[x-test]=xxFijixx
Name[zh_CN]=斐济
Region=oceania
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=FJD
CurrencyCode=FJD
