[KCM Locale]
Name=Yemen
Name[nl]=Jemen
Name[uk]=Ємен
Name[x-test]=xxYemenxx
Region=middleeast
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=YER
CurrencyCode=YER
