[KCM Locale]
Name=Turkmenistan
Name[ca]=Turkmenistan
Name[cs]=Turkmenistán
Name[de]=Turkmenistan
Name[hr]=Turkmenistan
Name[ia]=Turkmenistan
Name[it]=Turkmenistan
Name[ka]=თურქმენეთი
Name[nb]=Turkmenistan
Name[nds]=Turkmenistan
Name[nl]=Turkmenistan
Name[nn]=Turkmenistan
Name[pl]=Turkmenistan
Name[pt]=Turquemenistão
Name[pt_BR]=Turcomenistão
Name[se]=Turkmenistan
Name[sk]=Turkménsko
Name[sr]=Туркменистан
Name[sr@ijekavian]=Туркменистан
Name[sr@ijekavianlatin]=Turkmenistan
Name[sr@latin]=Turkmenistan
Name[sv]=Turkmenistan
Name[uk]=Туркменістан
Name[x-test]=xxTurkmenistanxx
Region=centralasia
Languages=ru
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=TMT
CurrencyCode=TMT
