[KCM Locale]
Name=Esperanto
Name[af]=Esperanto
Name[ar]=الإسبرانتو
Name[as]=এস্পেৰান্টো
Name[ast]=Esperantu
Name[az]=Esperanto
Name[be]=Эсперанта
Name[be@latin]=Esperanta
Name[bg]=Есперанто
Name[bn]=এস্পারান্তো
Name[bn_IN]=এসপারান্তো
Name[br]=Esperanteg
Name[bs]=Esperanto
Name[ca]=Esperanto
Name[ca@valencia]=Esperanto
Name[cs]=Esperanto
Name[csb]=Esperanto
Name[cy]=Esperanto
Name[da]=Esperanto
Name[de]=Esperanto
Name[el]=Εσπεράντο
Name[en_GB]=Esperanto
Name[eo]=Esperanto
Name[es]=Esperanto
Name[et]=Esperanto
Name[eu]=Esperantoa
Name[fa]=اسپرانتور
Name[fi]=Esperanto
Name[fr]=Espéranto
Name[fy]=Esperanto
Name[ga]=Esperanto
Name[gd]=Esperanto
Name[gl]=Esperanto
Name[gu]=એસ્પ્રાન્ટો
Name[he]=אספרנטו
Name[hi]=एस्परेन्तो
Name[hne]=एस्परेन्तो
Name[hr]=Esperanto
Name[hsb]=Esperantisce
Name[hu]=Eszperantó
Name[hy]=Էսպերանտո
Name[ia]=Esperanto 
Name[id]=Esperanto
Name[is]=Esperanto
Name[it]=Esperanto
Name[ja]=エスペラント語
Name[kk]=Эсперанто
Name[km]=អេស្ពេរ៉ាន់តូ
Name[kn]=ಎಸ್ಪರಾನ್ಟೊ
Name[ko]=에스페란토
Name[ku]=Esperanto
Name[lb]=Esperanto
Name[lt]=Esperanto
Name[lv]=Esperanto
Name[mai]=एस्पेरांटो
Name[mk]=Есперанто
Name[ml]=എസ്പരാണ്ടോ
Name[mr]=एस्परेन्तो
Name[ms]=Esperanto
Name[nb]=Esperanto
Name[nds]=Esperanto
Name[ne]=इस्पेरान्तो
Name[nl]=Esperanto
Name[nn]=Esperanto
Name[oc]=Esperanto
Name[or]=Esperanto
Name[pa]=ਇਸਪੀਰਨਟੋ
Name[pl]=Esperanto
Name[ps]=اېسپېرېنټو
Name[pt]=Esperanto
Name[pt_BR]=Esperanto
Name[ro]=Esperanto
Name[ru]=Эсперанто
Name[se]=Esperanto
Name[si]=එස්පෙරැන්ටෝ
Name[sk]=Esperanto
Name[sl]=esperanto
Name[sq]=Esperanto
Name[sr]=есперанто
Name[sr@ijekavian]=есперанто
Name[sr@ijekavianlatin]=esperanto
Name[sr@latin]=esperanto
Name[sv]=Esperanto
Name[ta]=எஸ்பரான்டோ
Name[te]=ఎస్పరాన్టొ
Name[tg]=Эсперанто
Name[th]=ภาษาเอสเปอร์รันโต
Name[tr]=Esperanto
Name[tt]=Эсперанто
Name[ug]=ئېسپېرانتو (دۇنيا تىلى)
Name[uk]=Есперанто
Name[uz]=Esperanto
Name[uz@cyrillic]=Эсперанто
Name[vi]=Tiếng Quốc tế
Name[wa]=Esperanto
Name[xh]=Esperanto
Name[x-test]=xxEsperantoxx
Name[zh_CN]=世界语
Name[zh_HK]=世界語
Name[zh_TW]=世界語

Region=
Languages=eo
Transcript=true
NounDeclension=false
LanguageSensitiveDigits=true

DecimalPlaces=2
DecimalSymbol=.
DigitGroupFormat=3
ThousandsSeparator=,
PositiveSign=
NegativeSign=-
DigitSet=0

CurrencyCode=
CurrencyCodesInUse=
#CurrencySymbol=$ Don't default as will use default for CurrencyCode
MonetaryDecimalPlaces=2
MonetaryDecimalSymbol=.
MonetaryDigitGroupFormat=3
MonetaryThousandsSeparator=,
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
MonetaryDigitSet=0

CalendarSystem=gregorian

TimeFormat=%H:%M:%S
DateFormat=%A %d %B %Y
DateFormatShort=%Y-%m-%d
DateMonthNamePossessive=false
WeekStartDay=1
WorkingWeekStartDay=1
WorkingWeekEndDay=5
WeekDayOfPray=7
WeekNumberSystem=0
DateTimeDigitSet=0

BinaryUnitDialect=0
PageSize=0
MeasureSystem=0

[KCM Locale][KCalendarSystem gregorian]
UseCommonEra=false
ShortYearWindowStartYear=2000
