[KCM Locale]
Name=Armenia
Name[ca]=Armènia
Name[cs]=Arménie
Name[de]=Armenien
Name[es]=Armenia
Name[fi]=Armenia
Name[gl]=Armenia
Name[hr]=Armenija
Name[ia]=Armenia
Name[it]=Armenia
Name[ka]=სასომხეთი
Name[nb]=Armenia
Name[nds]=Armenien
Name[nl]=Armeens
Name[nn]=Armenia
Name[pl]=Armenia
Name[pt]=Arménia
Name[pt_BR]=Armênia
Name[se]=Armenia
Name[sk]=Arménsko
Name[sl]=Armenija
Name[sr]=Јерменија
Name[sr@ijekavian]=Јерменија
Name[sr@ijekavianlatin]=Jermenija
Name[sr@latin]=Jermenija
Name[sv]=Armenien
Name[uk]=Вірменія
Name[x-test]=xxArmeniaxx
Name[zh_CN]=亚美尼亚
Region=middleeast
Languages=hy
DecimalSymbol=,
ThousandsSeparator=.
# FIXME Name is Dram, symbol is unknown
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
DateFormat[hy]=%A,%B %e, %Y
DateFormatShort=%m/%d/%y
TimeFormat=%H:%M:%S
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=AMD
CurrencyCode=AMD
