[KCM Locale]
Name=Slovakia
Name[ca]=Eslovàquia
Name[cs]=Slovensko
Name[de]=Slowakei
Name[es]=Eslovaquia
Name[fi]=Slovakia
Name[fr]=Slovaquie
Name[gl]=Eslovaquia
Name[hr]=Slovačka
Name[ia]=Slovachia
Name[it]=Slovacchia
Name[ka]=სლოვაკია
Name[nb]=Slovakia
Name[nds]=Slowakien
Name[nl]=Slowakije
Name[nn]=Slovakia
Name[pl]=Słowacja
Name[pt]=Eslováquia
Name[pt_BR]=Eslováquia
Name[se]=Slovákia
Name[sk]=Slovensko
Name[sl]=Slovaška
Name[sr]=Словачка
Name[sr@ijekavian]=Словачка
Name[sr@ijekavianlatin]=Slovačka
Name[sr@latin]=Slovačka
Name[sv]=Slovakien
Name[uk]=Словаччина
Name[x-test]=xxSlovakiaxx
Name[zh_CN]=斯洛伐克
Region=centraleurope
Languages=sk
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[sk]=%a %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
WeekStartDay=1
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
