[KCM Locale]
Name=Lithuania
Name[ca]=Lituània
Name[de]=Litauen
Name[hr]=Litva
Name[ka]=ლიტვა
Name[nb]=Litauen
Name[nl]=Litouwen
Name[nn]=Litauen
Name[pl]=Litwa
Name[pt_BR]=Lituânia
Name[se]=Lietuva
Name[sk]=Litva
Name[sr]=Литванија
Name[sr@ijekavian]=Литванија
Name[sr@ijekavianlatin]=Litvanija
Name[sr@latin]=Litvanija
Name[sv]=Litauen
Name[uk]=Литва
Name[x-test]=xxLithuaniaxx
Region=northeurope
Languages=lt
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[lt]=%Y m. %B %e d., %A
DateFormatShort=%Y-%m-%d
TimeFormat=%H:%M:%S
DateMonthNamePossessive=true
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=LTL
CurrencyCode=LTL
