[KCM Locale]
Name=Azerbaijan
Name[ca]=Azerbaidjan
Name[cs]=Ázerbájdžán
Name[de]=Aserbaidschan
Name[gl]=Acerbaixán
Name[hr]=Azerbejdžan
Name[ia]=Azerbaijan
Name[it]=Azerbaijan
Name[ka]=აზერბაიჯანი
Name[nb]=Aserbajdsjan
Name[nds]=Aserbaidschan
Name[nl]=Azerbeidzjan
Name[nn]=Aserbajdsjan
Name[pl]=Azerbejdżan
Name[pt]=Azerbaijão
Name[pt_BR]=Azerbaijão
Name[se]=Aserbaižan
Name[sk]=Azerbajdžan
Name[sr]=Азербејџан
Name[sr@ijekavian]=Азербејџан
Name[sr@ijekavianlatin]=Azerbejdžan
Name[sr@latin]=Azerbejdžan
Name[sv]=Azerbaijan
Name[uk]=Азербайджан
Name[x-test]=xxAzerbaijanxx

Region=middleeast
Languages=az
DecimalSymbol=,
ThousandsSeparator=
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[az]=%A %d %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d-%m-%Y
TimeFormat=%H:%M:%S
#WorkingWeekStartDay=
#WorkingWeekEndDay=
WeekDayOfPray=5
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=AZN
CurrencyCode=AZN
