[KCM Locale]
Name=American Samoa
Name[ca]=Samoa Americana
Name[cs]=Americká Samoa
Name[de]=Amerikanisch-Samoa
Name[es]=Samoa Americana
Name[fi]=Amerikan Samoa
Name[gl]=Samoa Americana
Name[hr]=Američka Samoa
Name[ia]=Samoa American
Name[it]=Samoa americane
Name[ka]=ამერიკული სამოა
Name[nds]=Amerikaansch Samoa
Name[nl]=Amerikaans Samoa
Name[nn]=Amerikansk Samoa
Name[pl]=Samoa Amerykańskie
Name[pt]=Samoa Americana
Name[pt_BR]=Samoa Americana
Name[se]=Amerihkálaš Samoa
Name[sk]=Americká Samoa
Name[sr]=Америчка Самоа
Name[sr@ijekavian]=Америчка Самоа
Name[sr@ijekavianlatin]=Američka Samoa
Name[sr@latin]=Američka Samoa
Name[sv]=Amerikanska Samoa
Name[uk]=Американське Самоа
Name[x-test]=xxAmerican Samoaxx
Name[zh_CN]=美属萨摩亚
Region=oceania
Languages=en_US
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%m/%d/%y
TimeFormat=%I:%M:%S %p
WeekStartDay=7
PageSize=2
MeasureSystem=1
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=USD
CurrencyCode=USD
