[KCM Locale]
Name=Moldova
Name[ca]=Moldàvia
Name[hr]=Moldova
Name[ka]=მოლდოვა
Name[nb]=Moldova
Name[nl]=Moldavië
Name[nn]=Moldova
Name[pt_BR]=Moldávia
Name[se]=Moldova
Name[sk]=Moldavsko
Name[sr]=Молдавија
Name[sr@ijekavian]=Молдавија
Name[sr@ijekavianlatin]=Moldavija
Name[sr@latin]=Moldavija
Name[sv]=Moldavien
Name[uk]=Молдова
Name[x-test]=xxMoldovaxx
Region=easteurope
Languages=ro,ru
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=MDL
CurrencyCode=MDL
