[KCM Locale]
Author=i18n-translation@lists.linux.net.cn
Name=China
Name[ca]=Xina
Name[cs]=Čína
Name[de]=China
Name[es]=China
Name[fi]=Kiina
Name[gl]=China
Name[hr]=Kina
Name[ia]=China
Name[it]=Cina
Name[ka]=ჩინეთი
Name[nb]=Kina
Name[nds]=China
Name[nl]=China
Name[nn]=Kina
Name[pl]=Chiny
Name[pt]=China
Name[pt_BR]=China
Name[se]=Kiinná
Name[sk]=Čína
Name[sl]=Kitajska
Name[sr]=Кина
Name[sr@ijekavian]=Кина
Name[sr@ijekavianlatin]=Kina
Name[sr@latin]=Kina
Name[sv]=Kina
Name[uk]=Китай
Name[x-test]=xxChinaxx
Name[zh_CN]=中国
Region=eastasia
Languages=zh_CN
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[zh_CN]=%Y年%n月%e日 %A
DateFormat[zh_TW]=%Y年%n月%e日 %A
#DateFormat[de]=%A %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%Y-%m-%d
TimeFormat=%H:%M:%S
WeekStartDay=1
#WorkingWeekStartDay=
#WorkingWeekEndDay=
WeekDayOfPray=0
MeasureSystem=0
PageSize=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=CNY
CurrencyCode=CNY
