[Currency Code]
CurrencyCodeIsoAlpha3=AED
CurrencyCodeIsoNumeric3=784
#Context for Name: Adjectival Country Name and Currency Name
Name=United Arab Emirates Dirham
Name[ar]=الدرهم الإماراتي
Name[ca]=Dírham de la Unió dels Emirats Àrabs
Name[cs]=Dirham Spojených arabských emirátů
Name[de]=VAE-Dirham
Name[en_GB]=United Arab Emirates Dirham
Name[es]=Dírham de los Emiratos Árabes Unidos
Name[fa]=امارات متحده عربی دیرهام
Name[fi]=Arabiemiirikuntien dirhami
Name[fr]=Dirham des émirats arabes unis
Name[gl]=Dirham dos Emiratos Árabes Unidos
Name[ia]=Dirham de Emirates Unite Arabe
Name[id]=Dirham Uni Emirat Arab
Name[it]=Dirham degli Emirati Arabi Uniti
Name[nds]=VAE-Dirham
Name[nl]=Verenigde Arabische Emiraten Dirham
Name[nn]=Emiratarabisk dirham
Name[pa]=ਸੰਯੁਕਤ ਅਰਬ ਅਮੀਰਾਤ ਦੀਰਹਮ
Name[pl]=Dirham Zjednoczonych Emiratów Arabskich
Name[pt]=Diram dos Emiratos Árabes Unidos
Name[pt_BR]=Dirham emiradense
Name[ru]=Дирхам ОАЭ
Name[sk]=Spojené arabské emiráty dirham
Name[sl]=dirham Združenih arabskih emiratov
Name[sr]=уједињеноарапскоемиратски дирхам
Name[sr@ijekavian]=уједињеноарапскоемиратски дирхам
Name[sr@ijekavianlatin]=ujedinjenoarapskoemiratski dirham
Name[sr@latin]=ujedinjenoarapskoemiratski dirham
Name[sv]=Förenade arabemiraten dirham
Name[uk]=Діргем Об’єднаних Арабських Еміратів
Name[x-test]=xxUnited Arab Emirates Dirhamxx
Name[zh_TW]=阿拉伯聯合大公國─迪爾漢（Dirham）
CurrencyNameIso=United Arab Emirates dirham
CurrencyUnitSymbols=د.إ,DH,Dhs,AED
CurrencyUnitSymbolDefault=د.إ
CurrencyUnitSymbolUnambiguous=د.إ
CurrencyUnitSingular=dirham
CurrencyUnitPlural=dirhams
CurrencySubunitSymbol=
CurrencySubunitSingular=fils
CurrencySubunitPlural=fils
CurrencyIntroducedDate=1973,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AE
