[Currency Code]
CurrencyCodeIsoAlpha3=AFN
CurrencyCodeIsoNumeric3=971
#Context for Name: Adjectival Country Name and Currency Name
Name=Afghan Afghani
Name[ca]=Afghani afganès
Name[de]=Afghanischer Afghani
Name[es]=Afgani afgano
Name[fi]= Afganistanin afgaani
Name[gl]=Afganí afgao
Name[nds]=Afghaansch Afghani
Name[nl]=Afghaanse Afghani
Name[nn]=Afghansk afghani
Name[pl]=Afgani afgański
Name[pt]=Afghani Afegão
Name[pt_BR]=Afegani afegão
Name[sk]=Afgánske afgani
Name[sr]=авганистански авгани
Name[sr@ijekavian]=авганистански авгани
Name[sr@ijekavianlatin]=avganistanski avgani
Name[sr@latin]=avganistanski avgani
Name[sv]=Afghanska afghani
Name[uk]=Афганське афгані
Name[x-test]=xxAfghan Afghanixx
Name[zh_CN]=阿富汗尼
CurrencyNameIso=Afghan afghani
CurrencyUnitSymbols=؋,AFN
CurrencyUnitSymbolDefault=؋
CurrencyUnitSymbolUnambiguous=؋
CurrencyUnitSingular=afghani
CurrencyUnitPlural=afghani
CurrencySubunitSymbol=
CurrencySubunitSingular=pul
CurrencySubunitPlural=pul
CurrencyIntroducedDate=2002,10,07
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AF
