[Currency Code]
CurrencyCodeIsoAlpha3=ANG
CurrencyCodeIsoNumeric3=532
#Context for Name: Adjectival Country Name and Currency Name
Name=Netherlands Antillean Guilder
Name[ca]=Florí de les Antilles Holandeses
Name[de]=Niederländische-Antillen-Gulden
Name[es]=Florín de las Antillas Holandesas
Name[fi]=Alankomaiden Antillien guldeni
Name[gl]=Guilder das Antillas Holandesas 
Name[nds]=Nedderlannsch-Antillen-Gulden
Name[nl]=Antilliaanse Gulden
Name[pl]=Gulden Antyli Holenderskich
Name[pt]=Xelim das Antilhas Holandesas
Name[pt_BR]=Florim das Antilhas Neerlandesas
Name[sr]=холандскоантилски гулден
Name[sr@ijekavian]=холандскоантилски гулден
Name[sr@ijekavianlatin]=holandskoantilski gulden
Name[sr@latin]=holandskoantilski gulden
Name[sv]=Nederländska Antillergulden
Name[uk]=Гульден Нідерландських Антильських Островів
Name[x-test]=xxNetherlands Antillean Guilderxx
CurrencyNameIso=Netherlands Antillean guilder
CurrencyUnitSymbols=ƒ,ANG
CurrencyUnitSymbolDefault=ƒ
CurrencyUnitSymbolUnambiguous=ƒ
CurrencyUnitSingular=guilder
CurrencyUnitPlural=guilders
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AN
