[Currency Code]
CurrencyCodeIsoAlpha3=AZN
CurrencyCodeIsoNumeric3=944
#Context for Name: Adjectival Country Name and Currency Name
Name=Azerbaijani Manat
Name[ca]=Manat d'Azerbaidjan
Name[de]=Aserbaidschan-Manat
Name[es]=Manat azerbaiyano
Name[fi]=Azerbaidžanin manat
Name[gl]=Manat acerbaixano
Name[nds]=Aserbaidschaansch Manat
Name[nl]=Azerbeidzjaanse Manat
Name[pl]=Manat azerbejdżański
Name[pt]=Manat do Azerbaijão
Name[pt_BR]=Manat azeri
Name[sr]=азербејџански манат
Name[sr@ijekavian]=азербејџански манат
Name[sr@ijekavianlatin]=azerbejdžanski manat
Name[sr@latin]=azerbejdžanski manat
Name[sv]=Azeriska manat
Name[uk]=Азербайджанський манат
Name[x-test]=xxAzerbaijani Manatxx
CurrencyNameIso=Azerbaijani manat
CurrencyUnitSymbols=m,man,AZM
CurrencyUnitSymbolDefault=m
CurrencyUnitSymbolUnambiguous=m
CurrencyUnitSingular=manat
CurrencyUnitPlural=manat
CurrencySubunitSymbol=
CurrencySubunitSingular=qəpik
CurrencySubunitPlural=qəpik
CurrencyIntroducedDate=2006,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=AZ
