[Currency Code]
CurrencyCodeIsoAlpha3=BAM
CurrencyCodeIsoNumeric3=977
#Context for Name: Adjectival Country Name and Currency Name
Name=Bosnia and Herzegovina Convertible Mark
Name[ca]=Marc convertible de Bòsnia i Hercegovina
Name[de]=Konvertible Mark von Bosnien und Herzegowina
Name[es]=Marco convertible bosnioherzegovino
Name[fi]=Bosnia-Hertsegovinan vaihdettava markka
Name[gl]=Marco convertíbel de Bosnia e Hercegovina
Name[nds]=Bosnisch-herzegowiensch tuuschbor Mark
Name[nl]=Converteerbare Mark uit Bosnië en Herzegovina
Name[nn]=Bosnisk konvertibel mark
Name[pl]=Marka wymienialna Bośni i Hercegowiny
Name[pt]=Marco Convertível da Bósnia e Herzegovina
Name[pt_BR]=Marco conversível da Bósnia e Herzegovina
Name[sk]=Bosnianskohercegovinská marka
Name[sr]=босанскохерцеговачка конвертибилна марка
Name[sr@ijekavian]=босанскохерцеговачка конвертибилна марка
Name[sr@ijekavianlatin]=bosanskohercegovačka konvertibilna marka
Name[sr@latin]=bosanskohercegovačka konvertibilna marka
Name[sv]=Bosnien och Hercegovina konvertibla mark
Name[uk]=Конвертована марка Боснії і Герцеговини
Name[x-test]=xxBosnia and Herzegovina Convertible Markxx
Name[zh_CN]=波黑马克
CurrencyNameIso=Convertible marks
CurrencyUnitSymbols=KM,BAM
CurrencyUnitSymbolDefault=KM
CurrencyUnitSymbolUnambiguous=KM
CurrencyUnitSingular=mark
CurrencyUnitPlural=marks
CurrencySubunitSymbol=
CurrencySubunitSingular=fening
CurrencySubunitPlural=fenings
CurrencyIntroducedDate=1995,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BA
