[Currency Code]
CurrencyCodeIsoAlpha3=BBD
CurrencyCodeIsoNumeric3=052
#Context for Name: Adjectival Country Name and Currency Name
Name=Barbados Dollar
Name[ca]=Dòlar de Barbados
Name[de]=Barbados-Dollar
Name[es]=Dólar de Barbados
Name[fi]=Barbadosin dollari
Name[fr]=Dollar de Barbade
Name[gl]=Dólar das Barbados
Name[nds]=Barbados-Dollar
Name[nl]=Barbadiaanse Dollar
Name[nn]=Barbadisk dollar
Name[pl]=Dolar barbadoski
Name[pt]=Dólar dos Barbados
Name[pt_BR]=Dólar barbadiano
Name[ru]=Барбадосский доллар
Name[sk]=Barbadoský dolár
Name[sl]=barbadoški dolar
Name[sr]=барбадоски долар
Name[sr@ijekavian]=барбадоски долар
Name[sr@ijekavianlatin]=barbadoski dolar
Name[sr@latin]=barbadoski dolar
Name[sv]=Barbadiska dollar
Name[uk]=Барбадоський долар
Name[x-test]=xxBarbados Dollarxx
CurrencyNameIso=Barbados dollar
CurrencyUnitSymbols=$,Bds$,BBD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=Bds$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1973,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BB
