[Currency Code]
CurrencyCodeIsoAlpha3=BDT
CurrencyCodeIsoNumeric3=050
#Context for Name: Adjectival Country Name and Currency Name
Name=Bangladeshi Taka
Name[ar]=التاكا البنغلاديشي
Name[ca]=Taka de Bangla Desh
Name[de]=Taka von Bangladesch
Name[en_GB]=Bangladeshi Taka
Name[es]=Taka bangladesí
Name[fi]=Bangladeshin taka
Name[fr]=Taka bangladeshi
Name[gl]=Taka bangladechiano
Name[id]=Taka Bangladesh
Name[nds]=Bangladeschisch Taka
Name[nl]=Bengalese Taka
Name[nn]=Bangladeshisk taka
Name[pl]=Taka bangladeska
Name[pt]=Taka do Bangladesh
Name[pt_BR]=Taka bengali
Name[ru]=Бангладешская така
Name[sk]=Bangladéžska taka
Name[sl]=bangladeška taka
Name[sr]=бангладешка така
Name[sr@ijekavian]=бангладешка така
Name[sr@ijekavianlatin]=bangladeška taka
Name[sr@latin]=bangladeška taka
Name[sv]=Bangladeshiska taka
Name[uk]=Бангладешська така
Name[x-test]=xxBangladeshi Takaxx
CurrencyNameIso=Bangladeshi taka
CurrencyUnitSymbols=Tk,BDT
CurrencyUnitSymbolDefault=Tk
CurrencyUnitSymbolUnambiguous=Tk
CurrencyUnitSingular=taka
CurrencyUnitPlural=taka
CurrencySubunitSymbol=
CurrencySubunitSingular=poisha
CurrencySubunitPlural=poisha
CurrencyIntroducedDate=1972,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BD
