[Currency Code]
CurrencyCodeIsoAlpha3=BIF
CurrencyCodeIsoNumeric3=108
#Context for Name: Adjectival Country Name and Currency Name
Name=Burundian Franc
Name[ca]=Franc de Burundi
Name[de]=Burundi-Franc
Name[es]=Franco de Burundi
Name[fi]=Burundin frangi
Name[gl]=Franco burundiano
Name[nds]=Burundsch Franc
Name[nl]=Burundese Frank
Name[pl]=Frank Burundi
Name[pt]=Franco do Burundi
Name[pt_BR]=Franco burundiano
Name[sk]=Burundský frank
Name[sr]=бурундски франак
Name[sr@ijekavian]=бурундски франак
Name[sr@ijekavianlatin]=burundski franak
Name[sr@latin]=burundski franak
Name[sv]=Burundiska franc
Name[uk]=Бурундійський франк
Name[x-test]=xxBurundian Francxx
Name[zh_CN]=布隆迪法郎
CurrencyNameIso=Burundian franc
CurrencyUnitSymbols=FBu,BIF
CurrencyUnitSymbolDefault=FBu
CurrencyUnitSymbolUnambiguous=FBu
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1964,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BI
