[Currency Code]
CurrencyCodeIsoAlpha3=BIF
CurrencyCodeIsoNumeric3=108
#Context for Name: Adjectival Country Name and Currency Name
Name=Burundian Franc
Name[ca]=Franc de Burundi
Name[de]=Burundi-Franc
Name[nds]=Burundsch Franc
Name[nl]=Burundese Frank
Name[pl]=Frank Burundi
Name[pt]=Franco do Burundi
Name[sv]=Burundiska franc
Name[uk]=Бурундійський франк
Name[x-test]=xxBurundian Francxx
CurrencyNameIso=Burundian franc
CurrencyUnitSymbols=FBu,BIF
CurrencyUnitSymbolDefault=FBu
CurrencyUnitSymbolUnambiguous=FBu
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1964,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BI
