[Currency Code]
CurrencyCodeIsoAlpha3=BYR
CurrencyCodeIsoNumeric3=974
#Context for Name: Adjectival Country Name and Currency Name
Name=Belarusian Ruble
Name[ar]=الروبل البلاروسي
Name[ca]=Ruble bielorús
Name[de]=Weißrussischer Rubel
Name[en_GB]=Belarusian Ruble
Name[es]=Rublo bielorruso
Name[fi]=Valko-Venäjän rupla
Name[fr]=Rouble biélorusse
Name[gl]=Rublo bielorruso
Name[id]=Ruble Belarusia
Name[nds]=Wittruss'sch Ruvel
Name[nl]=Wit-Russische Roebel
Name[nn]=Kviterussisk rubel
Name[pl]=Rubel białoruski
Name[pt]=Rublo Bielorrusso
Name[pt_BR]=Rublo bielorrusso
Name[ru]=Белорусский рубль
Name[sk]=Bieloruský rubeľ
Name[sl]=beloruski rubelj
Name[sr]=белоруска рубља
Name[sr@ijekavian]=бјелоруска рубља
Name[sr@ijekavianlatin]=bjeloruska rublja
Name[sr@latin]=beloruska rublja
Name[sv]=Vitryska rubel
Name[uk]=Білоруський рубль
Name[x-test]=xxBelarusian Rublexx
CurrencyNameIso=Belarusian ruble
CurrencyUnitSymbols=Br,BYR
CurrencyUnitSymbolDefault=Br
CurrencyUnitSymbolUnambiguous=Br
CurrencyUnitSingular=ruble
CurrencyUnitPlural=rubles
CurrencySubunitSymbol=
CurrencySubunitSingular=kapeyka
CurrencySubunitPlural=kapeykas
CurrencyIntroducedDate=2000,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=BY
