[Currency Code]
CurrencyCodeIsoAlpha3=CNY
CurrencyCodeIsoNumeric3=156
#Context for Name: Adjectival Country Name and Currency Name
Name=Chinese Yuan
Name[ca]=Iuan xinès
Name[de]=Chinesischer Yuan
Name[gl]=Yuán chinés
Name[nds]=Chineesch Yuan
Name[nl]=Chinese Yuan
Name[pl]=Juan chiński
Name[pt]=Yuan Chinês
Name[pt_BR]=Yuan chinês
Name[sv]=Kinesiska yuan
Name[uk]=Китайський юань
Name[x-test]=xxChinese Yuanxx
CurrencyNameIso=Chinese Yuan
CurrencyUnitSymbols=¥,RMB,CNY
CurrencyUnitSymbolDefault=¥
CurrencyUnitSymbolUnambiguous=CNY
CurrencyUnitSingular=yuan
CurrencyUnitPlural=yuan
#CurrencySubunitSymbol=
CurrencySubunitSingular=jiǎo
CurrencySubunitPlural=jiǎo
#Revalued on 1955-04-01?
CurrencyIntroducedDate=1948,12,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
CurrencySubunits=2
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=10
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=CN,HK,MO,KP,MM
