[Currency Code]
CurrencyCodeIsoAlpha3=DEM
CurrencyCodeIsoNumeric3=276
#Context for Name: Adjectival Country Name and Currency Name
Name=German Mark
Name[ca]=Marc alemany
Name[de]=Deutsche Mark
Name[es]=Marco alemán
Name[fi]=Saksan markka
Name[gl]=Marco alemán
Name[nds]=Düütsch Mark
Name[nl]=Duitse Mark
Name[pl]=Marka niemiecka
Name[pt]=Marco Alemão
Name[pt_BR]=Marco alemão
Name[sr]=немачка марка
Name[sr@ijekavian]=њемачка марка
Name[sr@ijekavianlatin]=njemačka marka
Name[sr@latin]=nemačka marka
Name[sv]=Tyska mark
Name[uk]=Німецька марка
Name[x-test]=xxGerman Markxx
Name[zh_CN]=德国马克
CurrencyNameIso= German mark
CurrencyUnitSymbols=DM,DEM
CurrencyUnitSymbolDefault=DM
CurrencyUnitSymbolUnambiguous=DM
CurrencyUnitSingular=mark
CurrencyUnitPlural=mark
CurrencySubunitSymbol=Pf.
CurrencySubunitSingular=pfennig
CurrencySubunitPlural=pfennig
CurrencyIntroducedDate=1948,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
