[Currency Code]
CurrencyCodeIsoAlpha3=DOP
CurrencyCodeIsoNumeric3=214
#Context for Name: Adjectival Country Name and Currency Name
Name=Dominican Peso
Name[ca]=Pes dominicà
Name[de]=Dominikanischer Peso
Name[fi]=Dominikaanisen tasavallan peso
Name[gl]=Peso dominicano
Name[nds]=Dominikaansch Peso
Name[nl]=Dominicaanse Peso
Name[pl]=Peso dominikańskie
Name[pt]=Peso Dominicano
Name[pt_BR]=Peso dominicano
Name[sr]=доминикански пезос
Name[sr@ijekavian]=доминикански пезос
Name[sr@ijekavianlatin]=dominikanski pezos
Name[sr@latin]=dominikanski pezos
Name[sv]=Dominikanska peso
Name[uk]=Домініканське песо
Name[x-test]=xxDominican Pesoxx
CurrencyNameIso=Dominican peso
CurrencyUnitSymbols=$,RD$,DOP
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=RD$
CurrencyUnitSingular=peso
CurrencyUnitPlural=peso
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1937,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=DO
