[Currency Code]
CurrencyCodeIsoAlpha3=DZD
CurrencyCodeIsoNumeric3=012
#Context for Name: Adjectival Country Name and Currency Name
Name=Algerian Dinar
Name[ca]=Dinar d'Algèria
Name[de]=Algerischer Dinar
Name[es]=Dinar argelino
Name[fi]=Algerian dinaari
Name[fr]=Dinar algérien
Name[gl]=Dinar alxerino
Name[nds]=Algeersch Dinaar
Name[nl]=Algerijnse Dinar
Name[nn]=Algerisk dinar
Name[pl]=Dinar algierski
Name[pt]=Dinar Argelino
Name[pt_BR]=Dinar argelino
Name[ru]=Алжирский динар
Name[sk]=Alžírsky dinár
Name[sl]=alžirski dinar
Name[sr]=алжирски динар
Name[sr@ijekavian]=алжирски динар
Name[sr@ijekavianlatin]=alžirski dinar
Name[sr@latin]=alžirski dinar
Name[sv]=Algeriska dinar
Name[uk]=Алжирський динар
Name[x-test]=xxAlgerian Dinarxx
Name[zh_CN]=阿尔及利亚第纳尔
CurrencyNameIso=Algerian dinar
CurrencyUnitSymbols=دج,DA,DZD
CurrencyUnitSymbolDefault=دج
CurrencyUnitSymbolUnambiguous=دج
CurrencyUnitSingular=dinar
CurrencyUnitPlural=dinar
CurrencySubunitSymbol=
CurrencySubunitSingular=santeem
CurrencySubunitPlural=santeem
CurrencyIntroducedDate=1964,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=DZ
