[Currency Code]
CurrencyCodeIsoAlpha3=EEK
CurrencyCodeIsoNumeric3=233
#Context for Name: Adjectival Country Name and Currency Name
Name=Estonian Kroon
Name[ca]=Corona estoniana
Name[de]=Estnische Krone
Name[en_GB]=Estonian Kroon
Name[es]=Corona estonia
Name[fi]=Viron kruunu
Name[fr]=Couronne estonienne
Name[gl]=Coroa estonia
Name[id]=Kroon Estonia
Name[nds]=Eestlannsch Kroon
Name[nl]=Estse Kroon
Name[nn]=Estisk kroon
Name[pl]=Korona estońska
Name[pt]=Coroa Estoniana
Name[pt_BR]=Coroa estoniana
Name[ru]=Эстонская крона
Name[sk]=Estónska koruna
Name[sl]=estonska krona
Name[sr]=естонска круна
Name[sr@ijekavian]=естонска круна
Name[sr@ijekavianlatin]=estonska kruna
Name[sr@latin]=estonska kruna
Name[sv]=Estniska kronor
Name[uk]=Естонська крона
Name[x-test]=xxEstonian Kroonxx
CurrencyNameIso=Kroon
CurrencyUnitSymbols=KR,EEK
CurrencyUnitSymbolDefault=KR
CurrencyUnitSymbolUnambiguous=KR
CurrencyUnitSingular=kroon
CurrencyUnitPlural=krooni
CurrencySubunitSymbol=
CurrencySubunitSingular=sent
CurrencySubunitPlural=senti
CurrencyIntroducedDate=1928,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2011,01,14
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
