[Currency Code]
CurrencyCodeIsoAlpha3=ERN
CurrencyCodeIsoNumeric3=232
#Context for Name: Adjectival Country Name and Currency Name
Name=Eritrean Nakfa
Name[ca]=Nakfa d'Eritrea
Name[de]=Eritreischer Nakfa
Name[en_GB]=Eritrean Nakfa
Name[es]=Nakfa de Eritrea
Name[fi]=Eritrean nakfa
Name[fr]=Nakfa érythréen
Name[gl]=Nakfa eritreo
Name[id]=Nakfa Eritrea
Name[nds]=Eritreesch Nakfa
Name[nl]=Eritrese Nakfa
Name[nn]=Eritreisk nakfa
Name[pl]=Nakfa Erytrei
Name[pt]=Nakfa da Eritreia
Name[pt_BR]=Nafka eritreu
Name[ru]=Эритрейская накфа
Name[sk]=Eritrejská nafka
Name[sl]=eritrejska nakfa
Name[sr]=еритрејска накфа
Name[sr@ijekavian]=еритрејска накфа
Name[sr@ijekavianlatin]=eritrejska nakfa
Name[sr@latin]=eritrejska nakfa
Name[sv]=Eritreanska nakfa
Name[uk]=Еритрейська накфа
Name[x-test]=xxEritrean Nakfaxx
CurrencyNameIso=Nakfa
CurrencyUnitSymbols=Nfk,ERN
CurrencyUnitSymbolDefault=Nfk
CurrencyUnitSymbolUnambiguous=Nfk
CurrencyUnitSingular=nafka
CurrencyUnitPlural=nafka
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1997,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=ER
