[Currency Code]
CurrencyCodeIsoAlpha3=ESP
CurrencyCodeIsoNumeric3=724
#Context for Name: Adjectival Country Name and Currency Name
Name=Spanish Peseta
Name[ca]=Pesseta espanyola
Name[de]=Spanische Peseta
Name[es]=Peseta española
Name[fi]=Espanjan peseta
Name[gl]=Peseta española
Name[nds]=Spaansch Peseet
Name[nl]=Spaanse Peseta
Name[pl]=Peseta hiszpańska
Name[pt]=Peseta Espanhola
Name[pt_BR]=Peseta espanhola
Name[sr]=шпанска пезета
Name[sr@ijekavian]=шпанска пезета
Name[sr@ijekavianlatin]=španska pezeta
Name[sr@latin]=španska pezeta
Name[sv]=Spanska pesetas
Name[uk]=Іспанська песета
Name[x-test]=xxSpanish Pesetaxx
CurrencyNameIso=Spanish peseta
CurrencyUnitSymbols=Pta.,Pts.,Ptas,₧,ESP
CurrencyUnitSymbolDefault=Pta.
CurrencyUnitSymbolUnambiguous=Pta.
CurrencyUnitSingular=peseta
CurrencyUnitPlural=pesetas
CurrencySubunitSymbol=centimo
CurrencySubunitSingular=centimos
CurrencySubunitPlural=
CurrencyIntroducedDate=1869,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2001,12,31
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
