[Currency Code]
CurrencyCodeIsoAlpha3=GEL
CurrencyCodeIsoNumeric3=981
#Context for Name: Adjectival Country Name and Currency Name
Name=Georgian Lari
Name[ca]=Lari de Geòrgia
Name[de]=Georgischer Lari
Name[es]=Lari georgiano
Name[fi]=Georgian lari
Name[fr]=Lari géorgien
Name[gl]=Lari xeorxiano
Name[nds]=Georgsch Lari
Name[nl]=Georgische Lari
Name[nn]=Georgisk lari
Name[pl]=Lari gruzińskie
Name[pt]=Lari da Geórgia
Name[pt_BR]=Lari georgiano
Name[sk]=Gruzínsky lari
Name[sl]=gruzijski lari
Name[sr]=грузијски лари
Name[sr@ijekavian]=грузијски лари
Name[sr@ijekavianlatin]=gruzijski lari
Name[sr@latin]=gruzijski lari
Name[sv]=Georgiska lari
Name[uk]=Грузинське ларі
Name[x-test]=xxGeorgian Larixx
CurrencyNameIso=Lari
CurrencyUnitSymbols=GEL
CurrencyUnitSymbolDefault=GEL
CurrencyUnitSymbolUnambiguous=GEL
CurrencyUnitSingular=lari
CurrencyUnitPlural=lari
CurrencySubunitSymbol=
CurrencySubunitSingular=tetri
CurrencySubunitPlural=tetri
CurrencyIntroducedDate=1995,10,02
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=GE
