[Currency Code]
CurrencyCodeIsoAlpha3=GHS
CurrencyCodeIsoNumeric3=936
#Context for Name: Adjectival Country Name and Currency Name
Name=Ghana Cedi
Name[ca]=Cedi de Ghana
Name[de]=Ghanaischer Cedi
Name[es]=Cedi de Ghana
Name[fi]=Ghanan cedi
Name[gl]=Cedi de Ghana
Name[nds]=Ghana-Cedi
Name[nl]=Ghanese Cedi
Name[pl]=Cedi ghańskie
Name[pt]=Cedi do Gana
Name[pt_BR]=Cedi ganense
Name[sr]=гански седи
Name[sr@ijekavian]=гански седи
Name[sr@ijekavianlatin]=ganski sedi
Name[sr@latin]=ganski sedi
Name[sv]=Ghana cedi
Name[uk]=Ганське седі
Name[x-test]=xxGhana Cedixx
Name[zh_CN]=加纳塞地
CurrencyNameIso=Cedi
CurrencyUnitSymbols=GH₵,GHS
CurrencyUnitSymbolDefault=GH₵
CurrencyUnitSymbolUnambiguous=GH₵
CurrencyUnitSingular=cedi
CurrencyUnitPlural=cedi
CurrencySubunitSymbol=
CurrencySubunitSingular=pesewa
CurrencySubunitPlural=pesewa
CurrencyIntroducedDate=2007,07,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=GH
