[Currency Code]
CurrencyCodeIsoAlpha3=GMD
CurrencyCodeIsoNumeric3=270
#Context for Name: Adjectival Country Name and Currency Name
Name=Gambian Dalasi
Name[ca]=Dalasi de Gàmbia
Name[de]=Gambianischer Dalasi
Name[es]=Dalasi de Gambia
Name[fi]=Gambian dalasi
Name[gl]=Dalasi gambiano
Name[nds]=Gambiaansch Dalasi
Name[nl]=Gambiaanse Dalasi
Name[pl]=Dalasi gambijskie
Name[pt]=Dalasi do Gâmbia
Name[pt_BR]=Dalasi gambiano
Name[sk]=Gambské dalasi
Name[sr]=гамбијски даласи
Name[sr@ijekavian]=гамбијски даласи
Name[sr@ijekavianlatin]=gambijski dalasi
Name[sr@latin]=gambijski dalasi
Name[sv]=Gambiska dalasi
Name[uk]=Гамбійський даласі
Name[x-test]=xxGambian Dalasixx
CurrencyNameIso=Dalasi
CurrencyUnitSymbols=D,GMD
CurrencyUnitSymbolDefault=D
CurrencyUnitSymbolUnambiguous=D
CurrencyUnitSingular=dalasi
CurrencyUnitPlural=dalasis
CurrencySubunitSymbol=
CurrencySubunitSingular=butut
CurrencySubunitPlural=bututs
CurrencyIntroducedDate=1971,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=GM
