[Currency Code]
CurrencyCodeIsoAlpha3=GTQ
CurrencyCodeIsoNumeric3=320
#Context for Name: Adjectival Country Name and Currency Name
Name=Guatemalan Quetzal
Name[ca]=Quetzal de Guatemala
Name[de]=Guatemaltekischer Quetzal
Name[es]=Quetzal guatemalteco
Name[fi]=Guatemalan quetzal
Name[gl]=Quetzal guatemalteco
Name[nds]=Guatemalteeksch Quetzal
Name[nl]=Guatemalaanse Quetzal
Name[nn]=Guatemalansk quetzal
Name[pl]=Quetzal gwatemalski
Name[pt]=Quetzal Guatemalteco
Name[pt_BR]=Quetzal guatemalteca
Name[sk]=Guatemalský quetzal
Name[sr]=гватемалски квецал
Name[sr@ijekavian]=гватемалски квецал
Name[sr@ijekavianlatin]=gvatemalski kvecal
Name[sr@latin]=gvatemalski kvecal
Name[sv]=Guatemalanska quetzal
Name[uk]=Гватемальський кетцаль
Name[x-test]=xxGuatemalan Quetzalxx
Name[zh_CN]=危地马拉格查尔
CurrencyNameIso=Quetzal
CurrencyUnitSymbols=Q,GTQ
CurrencyUnitSymbolDefault=Q
CurrencyUnitSymbolUnambiguous=Q
CurrencyUnitSingular=quetzal
CurrencyUnitPlural=quetzals
CurrencySubunitSymbol=
CurrencySubunitSingular=centavo
CurrencySubunitPlural=centavos
CurrencyIntroducedDate=1925,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=GT
