[Currency Code]
CurrencyCodeIsoAlpha3=IDR
CurrencyCodeIsoNumeric3=360
#Context for Name: Adjectival Country Name and Currency Name
Name=Indonesian Rupiah
Name[ca]=Rupia d'Indonèsia
Name[de]=Indonesische Rupiah
Name[en_GB]=Indonesian Rupiah
Name[es]=Rupia indonesia
Name[fi]=Indonesian rupia
Name[fr]=Roupie indonésienne
Name[gl]=Rupía indonesia
Name[id]=Rupiah Indonesia
Name[nds]=Indoneesch Rupje
Name[nl]=Indonesische Roepia
Name[nn]=Indonesisk rupiah
Name[pl]=Rupia indonezyjska
Name[pt]=Rupia Indonésia
Name[pt_BR]=Rúpia indonésia
Name[ru]=Индонезийская рупия
Name[sk]=Indonézska rupia
Name[sl]=indonezijska rupija
Name[sr]=индонезијска рупија
Name[sr@ijekavian]=индонезијска рупија
Name[sr@ijekavianlatin]=indonezijska rupija
Name[sr@latin]=indonezijska rupija
Name[sv]=Indonesiska rupie
Name[uk]=Індонезійська рупія
Name[x-test]=xxIndonesian Rupiahxx
CurrencyNameIso=Rupiah
CurrencyUnitSymbols=Rp,IDR
CurrencyUnitSymbolDefault=Rp
CurrencyUnitSymbolUnambiguous=IDR
CurrencyUnitSingular=rupiah
CurrencyUnitPlural=rupiah
CurrencySubunitSymbol=
CurrencySubunitSingular=sen
CurrencySubunitPlural=sen
CurrencyIntroducedDate=1965,12,13
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=ID,TL
