[Currency Code]
CurrencyCodeIsoAlpha3=ISK
CurrencyCodeIsoNumeric3=
#Context for Name: Adjectival Country Name and Currency Name
Name=Icelandic Krona
Name[ca]=Corona islandesa
Name[de]=Isländische Krone
Name[gl]=Krona islandesa
Name[nds]=Islannsch Kroon
Name[nl]=IJslandse kroon
Name[pl]=Korona islandzka
Name[pt]=Coroa Islandesa
Name[pt_BR]=Coroa islandesa
Name[sv]=Isländska kronor
Name[uk]=Ісландська крона
Name[x-test]=xxIcelandic Kronaxx
CurrencyNameIso=Iceland krona
CurrencyUnitSymbols=kr,Íkr,ISK
CurrencyUnitSymbolDefault=kr
CurrencyUnitSymbolUnambiguous=ISK
CurrencyUnitSingular=krona
CurrencyUnitPlural=kronur
CurrencySubunitSymbol=
CurrencySubunitSingular=eyrir
CurrencySubunitPlural=aurar
CurrencyIntroducedDate=1981,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=IS
