[Currency Code]
CurrencyCodeIsoAlpha3=JMD
CurrencyCodeIsoNumeric3=388
#Context for Name: Adjectival Country Name and Currency Name
Name=Jamaican Dollar
Name[ca]=Dòlar de Jamaica
Name[de]=Jamaika-Dollar
Name[es]=Dólar jamaicano
Name[fi]=Jamaikan dollari
Name[gl]=Dólar xamaicano
Name[nds]=Jamaikaansch Dollar
Name[nl]=Jamaicaanse Dollar
Name[nn]=Jamaikansk dollar
Name[pl]=Dolar jamajski
Name[pt]=Dólar Jamaicano
Name[pt_BR]=Dólar jamaicano
Name[sk]=Jamajský dolár
Name[sr]=јамајчански долар
Name[sr@ijekavian]=јамајчански долар
Name[sr@ijekavianlatin]=jamajčanski dolar
Name[sr@latin]=jamajčanski dolar
Name[sv]=Jamaikanska dollar
Name[uk]=Ямайський долар
Name[x-test]=xxJamaican Dollarxx
Name[zh_CN]=牙买加元
CurrencyNameIso=Jamaican dollar
CurrencyUnitSymbols=$,J$,JA$,JMD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=J$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1969,09,08
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=JM
