[Currency Code]
CurrencyCodeIsoAlpha3=JPY
CurrencyCodeIsoNumeric3=392
#Context for Name: Adjectival Country Name and Currency Name
Name=Japanese Yen
Name[ar]=الين الياباني
Name[ca]=Ien japonès
Name[cs]=Japonský Yen
Name[de]=Japanischer Yen
Name[en_GB]=Japanese Yen
Name[es]=Yen japonés
Name[fa]=ین ژاپنی
Name[fi]=Japanin jeni
Name[fr]=Yen japonnais
Name[gl]=Ien xaponés
Name[ia]=Yen Japonese 
Name[id]=Yen Jepang
Name[nds]=Japaansch Yen
Name[nl]=Japanse Yen
Name[nn]=Japansk yen
Name[pa]=ਜਾਪਾਨੀ ਯੇਨ
Name[pl]=Jen japoński
Name[pt]=Iene Japonês
Name[pt_BR]=Iene japonês
Name[ru]=Японская иена
Name[sk]=Japonský jen
Name[sl]=japonski jen
Name[sr]=јапански јен
Name[sr@ijekavian]=јапански јен
Name[sr@ijekavianlatin]=japanski jen
Name[sr@latin]=japanski jen
Name[sv]=Japanska yen
Name[uk]=Японська єна
Name[x-test]=xxJapanese Yenxx
Name[zh_CN]=日元
Name[zh_TW]=日本─日元（Yen）
CurrencyNameIso=Japanese yen
CurrencyUnitSymbols=¥,JPY
CurrencyUnitSymbolDefault=¥
CurrencyUnitSymbolUnambiguous=¥
CurrencyUnitSingular=yen
CurrencyUnitPlural=yen
CurrencySubunitSymbol=
CurrencySubunitSingular=sen
CurrencySubunitPlural=sen
CurrencyIntroducedDate=1871,05,10
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
CurrencySubunits=2
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=JP
