[Currency Code]
CurrencyCodeIsoAlpha3=KPW
CurrencyCodeIsoNumeric3=408
#Context for Name: Adjectival Country Name and Currency Name
Name=North Korean Won
Name[ca]=Won nord-coreà
Name[de]=Nordkoreanischer Won
Name[es]=Won norcoreano
Name[fi]=Pohjois-Korean won
Name[gl]=Won norcoreano
Name[nds]=Noordkoreaansch Won
Name[nl]=Noord-Koreaanse Won
Name[nn]=Nordkoreansk won
Name[pl]=Won północnokoreański
Name[pt]=Won da Coreia do Norte
Name[pt_BR]=Won norte-coreano
Name[sk]=Severokórejský won
Name[sr]=севернокорејски вон
Name[sr@ijekavian]=сјевернокорејски вон
Name[sr@ijekavianlatin]=sjevernokorejski von
Name[sr@latin]=severnokorejski von
Name[sv]=Nordkoreanska won
Name[uk]=Північнокорейська вона
Name[x-test]=xxNorth Korean Wonxx
CurrencyNameIso=North Korean won
CurrencyUnitSymbols=₩,KPW
CurrencyUnitSymbolDefault=₩
CurrencyUnitSymbolUnambiguous=₩
CurrencyUnitSingular=won
CurrencyUnitPlural=won
CurrencySubunitSymbol=
CurrencySubunitSingular=chon
CurrencySubunitPlural=chon
CurrencyIntroducedDate=1959,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=KP
