[Currency Code]
CurrencyCodeIsoAlpha3=KRW
CurrencyCodeIsoNumeric3=410
#Context for Name: Adjectival Country Name and Currency Name
Name=South Korean Won
Name[ca]=Won sud-coreà
Name[de]=Südkoreanischer Won
Name[es]=Won surcoreano
Name[fi]=Etelä-Korean won
Name[gl]=Won surcoreano
Name[nds]=Söödkoreaansch Won
Name[nl]=Zuid-Koreaanse Won
Name[nn]=Sørkoreansk won
Name[pl]=Won południowokoreański
Name[pt]=Won da Coreia do Sul
Name[pt_BR]=Won sul-coreano
Name[sk]=Juhokórejský won
Name[sr]=јужнокорејски вон
Name[sr@ijekavian]=јужнокорејски вон
Name[sr@ijekavianlatin]=južnokorejski von
Name[sr@latin]=južnokorejski von
Name[sv]=Sydkoreanska won
Name[uk]=Південнокорейська вона
Name[x-test]=xxSouth Korean Wonxx
Name[zh_CN]=韩元
CurrencyNameIso=South Korean won
CurrencyUnitSymbols=₩,KRW
CurrencyUnitSymbolDefault=₩
CurrencyUnitSymbolUnambiguous=₩
CurrencyUnitSingular=won
CurrencyUnitPlural=won
CurrencySubunitSymbol=
CurrencySubunitSingular=jeon
CurrencySubunitPlural=jeon
CurrencyIntroducedDate=1962,06,09
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=KR
