[Currency Code]
CurrencyCodeIsoAlpha3=KWD
CurrencyCodeIsoNumeric3=414
#Context for Name: Adjectival Country Name and Currency Name
Name=Kuwaiti Dinar
Name[ca]=Dinar kuwaitià
Name[de]=Kuwait-Dinar
Name[fi]=Kuwaitin dinaari
Name[gl]=Dinar kuwaití
Name[nds]=Kuwaitsch Dinaar
Name[nl]=Koeweitse Dinar
Name[pl]=Dinar kuwejcki
Name[pt]=Dinar do Koweit
Name[pt_BR]=Dinar kuwaitiano
Name[sr]=кувајтски динар
Name[sr@ijekavian]=кувајтски динар
Name[sr@ijekavianlatin]=kuvajtski dinar
Name[sr@latin]=kuvajtski dinar
Name[sv]=Kuwaitiska dinar
Name[uk]=Кувейтський динар
Name[x-test]=xxKuwaiti Dinarxx
CurrencyNameIso=Kuwaiti dinar
CurrencyUnitSymbols=د.ك,KWD
CurrencyUnitSymbolDefault=د.ك
CurrencyUnitSymbolUnambiguous=د.ك
CurrencyUnitSingular=dinar
CurrencyUnitPlural=dinar
CurrencySubunitSymbol=
CurrencySubunitSingular=fils
CurrencySubunitPlural=fils
CurrencyIntroducedDate=1961,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=1000
CurrencyDecimalPlacesDisplay=3
CurrencyCountriesInUse=KW
