[Currency Code]
CurrencyCodeIsoAlpha3=KZT
CurrencyCodeIsoNumeric3=398
#Context for Name: Adjectival Country Name and Currency Name
Name=Kazakhstani Tenge
Name[ca]=Tenge de Kazakhstan
Name[de]=Tenge
Name[es]=Tenge kazajo
Name[fi]=Kazakstanin tenge
Name[gl]=Tenge cazaquistanés
Name[nds]=Kasachsch Tenge
Name[nl]=Kazachstaanse tenge
Name[nn]=Kasakhstansk tenge
Name[pl]=Tenge kazachskie
Name[pt]=Tenge do Cazaquistão
Name[pt_BR]=Tenge cazaque
Name[sk]=Kazachstanský tenge
Name[sl]=kazahstanski tenge
Name[sr]=казахстански тенге
Name[sr@ijekavian]=казахстански тенге
Name[sr@ijekavianlatin]=kazahstanski tenge
Name[sr@latin]=kazahstanski tenge
Name[sv]=Kazakhstanska tenge
Name[uk]=Казахське тенґе
Name[x-test]=xxKazakhstani Tengexx
Name[zh_CN]=哈萨克斯坦腾格
CurrencyNameIso=Tenge
CurrencyUnitSymbols=T,KZT
CurrencyUnitSymbolDefault=T
CurrencyUnitSymbolUnambiguous=T
CurrencyUnitSingular=tenge
CurrencyUnitPlural=tenge
CurrencySubunitSymbol=
CurrencySubunitSingular=tiyn
CurrencySubunitPlural=tiyn
CurrencyIntroducedDate=1993,11,15
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=KZ
