[Currency Code]
CurrencyCodeIsoAlpha3=MDL
CurrencyCodeIsoNumeric3=498
#Context for Name: Adjectival Country Name and Currency Name
Name=Moldovan Leu
Name[ca]=Leu moldau
Name[de]=Moldau-Leu
Name[es]=Leu moldavo
Name[fi]=Moldovan leu
Name[gl]=Leu moldavo
Name[nds]=Moldaawsch Leu
Name[nl]=Moldavische Leu
Name[pl]=Lej mołdawski
Name[pt]=Leu da Moldávia
Name[pt_BR]=Leu moldávio
Name[sr]=молдавски леј
Name[sr@ijekavian]=молдавски леј
Name[sr@ijekavianlatin]=moldavski lej
Name[sr@latin]=moldavski lej
Name[sv]=Moldavisk leu
Name[uk]=Молдовська лея
Name[x-test]=xxMoldovan Leuxx
Name[zh_CN]=摩尔多瓦列伊
CurrencyNameIso=Moldovan leu
CurrencyUnitSymbols=MDL
CurrencyUnitSymbolDefault=MDL
CurrencyUnitSymbolUnambiguous=MDL
CurrencyUnitSingular=leu
CurrencyUnitPlural=lei
CurrencySubunitSymbol=
CurrencySubunitSingular=ban
CurrencySubunitPlural=bani
CurrencyIntroducedDate=1993,11,29
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MD
