[Currency Code]
CurrencyCodeIsoAlpha3=MGA
CurrencyCodeIsoNumeric3=969
#Context for Name: Adjectival Country Name and Currency Name
Name=Malagasy Ariary
Name[ca]=Ariary malgaix
Name[de]=Ariary
Name[es]=Ariary malgache
Name[fi]=Madagaskarin ariary
Name[gl]=Ariari malgaxe
Name[nds]=Madagass'sch Ariary
Name[nl]=Madagaskarse Ariary
Name[pl]=Ariary malgaskie
Name[pt]=Ariary Malgaxe
Name[pt_BR]=Ariary malgaxe
Name[sr]=мадагаскарски аријари
Name[sr@ijekavian]=мадагаскарски аријари
Name[sr@ijekavianlatin]=madagaskarski arijari
Name[sr@latin]=madagaskarski arijari
Name[sv]=Madagaskiska ariary
Name[uk]=Малагасійське аріарі
Name[x-test]=xxMalagasy Ariaryxx
Name[zh_CN]=马达加斯加阿里亚里
CurrencyNameIso=Malagasy ariary
CurrencyUnitSymbols=MGA
CurrencyUnitSymbolDefault=MGA
CurrencyUnitSymbolUnambiguous=MGA
CurrencyUnitSingular=ariary
CurrencyUnitPlural=ariary
#CurrencySubunitSymbol=
CurrencySubunitSingular=iraimbilanja
CurrencySubunitPlural=iraimbilanja
#Exact date in July uncertain
CurrencyIntroducedDate=2003,07,31
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=5
CurrencyDecimalPlacesDisplay=1
CurrencyCountriesInUse=MG
