[Currency Code]
CurrencyCodeIsoAlpha3=MLF
CurrencyCodeIsoNumeric3=
#Context for Name: Adjectival Country Name and Currency Name
Name=Mali Franc
Name[ca]=Franc de Mali
Name[de]=Mali-Franc
Name[en_GB]=Mali Franc
Name[es]=Franco maliense
Name[fi]=Malin frangi
Name[fr]=Franc malien
Name[gl]=Franco de Mali
Name[id]=Franc Mali
Name[nds]=Malineesch Franc
Name[nl]=Malinese frank
Name[nn]=Malisk franc
Name[pl]=Frank malijski
Name[pt]=Franco do Mali
Name[pt_BR]=Franco malês
Name[ru]=Малийский франк
Name[sk]=Malijský frank
Name[sl]=malijski frank
Name[sr]=малијски франак
Name[sr@ijekavian]=малијски франак
Name[sr@ijekavianlatin]=malijski franak
Name[sr@latin]=malijski franak
Name[sv]=Malinesiska franc
Name[uk]=Малійський франк
Name[x-test]=xxMali Francxx
Name[zh_CN]=马里法郎
CurrencyNameIso=Mali franc
CurrencyUnitSymbols=fr.,F,MLF
CurrencyUnitSymbolDefault=fr.
CurrencyUnitSymbolUnambiguous=MLF
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1962,01,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=1984,01,01
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
