[Currency Code]
CurrencyCodeIsoAlpha3=MUR
CurrencyCodeIsoNumeric3=480
#Context for Name: Adjectival Country Name and Currency Name
Name=Mauritius Rupee
Name[ca]=Rupia de Maurici
Name[de]=Mauritius-Rupie
Name[es]=Rupia de Mauricio
Name[fi]=Mauritiuksen rupia
Name[gl]=Rupia das Illas Mauricios
Name[nds]=Mauritius-Rupje
Name[nl]=Mauritiaanse Roepie
Name[pl]=Rupia Mauritiusa
Name[pt]=Rupia da Mauritânia
Name[pt_BR]=Rúpia maurícia
Name[sr]=маурицијуска рупија
Name[sr@ijekavian]=маурицијуска рупија
Name[sr@ijekavianlatin]=mauricijuska rupija
Name[sr@latin]=mauricijuska rupija
Name[sv]=Mauritiska rupie
Name[uk]=Маврикійська рупія
Name[x-test]=xxMauritius Rupeexx
Name[zh_CN]=毛里求斯卢比
CurrencyNameIso=Mauritius rupee
CurrencyUnitSymbols=R,MUR
CurrencyUnitSymbolDefault=R
CurrencyUnitSymbolUnambiguous=MUR
CurrencyUnitSingular=rupee
CurrencyUnitPlural=rupees
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1877,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=MU
