[Currency Code]
CurrencyCodeIsoAlpha3=NAD
CurrencyCodeIsoNumeric3=516
#Context for Name: Adjectival Country Name and Currency Name
Name=Namibian Dollar
Name[ar]=الدولار الناميبي
Name[ca]=Dòlar namibià
Name[de]=Namibia-Dollar
Name[en_GB]=Namibian Dollar
Name[es]=Dólar namibio
Name[fi]=Namibian dollari
Name[fr]=Dollar namibien
Name[gl]=Dólar namibio
Name[id]=Dollar Namibia
Name[nds]=Namibsch Dollar
Name[nl]=Namibische Dollar
Name[nn]=Namibisk dollar
Name[pa]=ਨਾਮੀਬੀਆ ਡਾਲਰ
Name[pl]=Dolar namibijski
Name[pt]=Dólar da Namíbia
Name[pt_BR]=Dólar namibiano
Name[ru]=Намибийский доллар
Name[sk]=Namíbijský dolár
Name[sl]=namibijski dolar
Name[sr]=намибијски долар
Name[sr@ijekavian]=намибијски долар
Name[sr@ijekavianlatin]=namibijski dolar
Name[sr@latin]=namibijski dolar
Name[sv]=Namibianska dollar
Name[uk]=Намібійський долар
Name[x-test]=xxNamibian Dollarxx
Name[zh_TW]=那米比亞─元（Dollar）
CurrencyNameIso=Namibian dollar
CurrencyUnitSymbols=$,N$,NAD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=N$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1993,09,15
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=NA
