[Currency Code]
CurrencyCodeIsoAlpha3=NGN
CurrencyCodeIsoNumeric3=566
#Context for Name: Adjectival Country Name and Currency Name
Name=Nigerian Naira
Name[ca]=Naira de Nigèria
Name[de]=Naira
Name[es]=Naira nigeriana
Name[fi]=Nigerian naira
Name[gl]=Naira nixeriana
Name[nds]=Nigeriaansch Naira
Name[nl]=Nigeriaanse Naira
Name[nn]=Nigeriansk naira
Name[pl]=Naira nigeryjska
Name[pt]=Naira da Nigéria
Name[pt_BR]=Naira nigeriano
Name[sk]=Nigérijská naira
Name[sl]=nigerijska naira
Name[sr]=нигеријска наира
Name[sr@ijekavian]=нигеријска наира
Name[sr@ijekavianlatin]=nigerijska naira
Name[sr@latin]=nigerijska naira
Name[sv]=Nigerianska naira
Name[uk]=Нігерійська найра
Name[x-test]=xxNigerian Nairaxx
Name[zh_CN]=尼日利亚奈拉
CurrencyNameIso=Naira
CurrencyUnitSymbols=₦,NGN
CurrencyUnitSymbolDefault=₦
CurrencyUnitSymbolUnambiguous=₦
CurrencyUnitSingular=naira
CurrencyUnitPlural=naira
CurrencySubunitSymbol=
CurrencySubunitSingular=kobo
CurrencySubunitPlural=kobo
CurrencyIntroducedDate=1973,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=NG
