[Currency Code]
CurrencyCodeIsoAlpha3=PHP
CurrencyCodeIsoNumeric3=608
#Context for Name: Adjectival Country Name and Currency Name
Name=Philippine Peso
Name[ca]=Peso filipí
Name[de]=Philippinischer Peso
Name[es]=Peso filipino
Name[fi]=Filippiinien peso
Name[gl]=Peso filipino
Name[nds]=Philippiensch Peso
Name[nl]=Filipijnse Peso
Name[nn]=Filippinsk peso
Name[pl]=Peso filipińskie
Name[pt]=Peso Filipino
Name[pt_BR]=Peso filipino
Name[sk]=Filipínske peso
Name[sr]=филипински пезос
Name[sr@ijekavian]=филипински пезос
Name[sr@ijekavianlatin]=filipinski pezos
Name[sr@latin]=filipinski pezos
Name[sv]=Filippinska peso
Name[uk]=Філіппінське песо
Name[x-test]=xxPhilippine Pesoxx
Name[zh_CN]=菲律宾比索
CurrencyNameIso=Philippine peso
CurrencyUnitSymbols=₱,PhP,P,PHP
CurrencyUnitSymbolDefault=₱
CurrencyUnitSymbolUnambiguous=₱
CurrencyUnitSingular=piso
CurrencyUnitPlural=pisos
CurrencySubunitSymbol=
CurrencySubunitSingular=sentimo
CurrencySubunitPlural=sentimos
CurrencyIntroducedDate=1949,01,03
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=PH
