[Currency Code]
CurrencyCodeIsoAlpha3=PYG
CurrencyCodeIsoNumeric3=600
#Context for Name: Adjectival Country Name and Currency Name
Name=Paraguayan Guarani
Name[ca]=Guaraní de Paraguay
Name[de]=Paraguayischer Guaraní
Name[es]=Guaraní paraguayo
Name[fi]=Paraguayn guaraní
Name[gl]=Guaraní paraguaio
Name[nds]=Paraguayaansch Guarani
Name[nl]=Paraguayaanse guarani
Name[pl]=Guarani peruwiańskie
Name[pt]=Guarani Paraguaio
Name[pt_BR]=Guarani paraguaio
Name[sk]=Paraguajské guarani
Name[sr]=парагвајски гуарани
Name[sr@ijekavian]=парагвајски гуарани
Name[sr@ijekavianlatin]=paragvajski guarani
Name[sr@latin]=paragvajski guarani
Name[sv]=Paraguayanska guarani
Name[uk]=Парагвайське гуарані
Name[x-test]=xxParaguayan Guaranixx
Name[zh_CN]=巴拉圭瓜拉尼
CurrencyNameIso=Guarani
CurrencyUnitSymbols=₲,PYG
CurrencyUnitSymbolDefault=₲
CurrencyUnitSymbolUnambiguous=₲
CurrencyUnitSingular=guaraní
CurrencyUnitPlural=guaraníes
CurrencySubunitSymbol=
CurrencySubunitSingular=céntimo
CurrencySubunitPlural=céntimos
CurrencyIntroducedDate=1943,10,05
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=PY
