[Currency Code]
CurrencyCodeIsoAlpha3=RWF
CurrencyCodeIsoNumeric3=646
#Context for Name: Adjectival Country Name and Currency Name
Name=Rwandan Franc
Name[ca]=Franc de Rwanda
Name[de]=Ruanda-Franc
Name[es]=Franco ruandés
Name[fi]=Ruandan frangi
Name[gl]=Franco ruandés
Name[nds]=Ruandsch Franc
Name[nl]=Rwandese franc
Name[nn]=Rwandisk franc
Name[pl]=Frank rwandyjski
Name[pt]=Franco Ruandês
Name[pt_BR]=Franco ruandês
Name[sk]=Rwandský frank
Name[sr]=руандски франак
Name[sr@ijekavian]=руандски франак
Name[sr@ijekavianlatin]=ruandski franak
Name[sr@latin]=ruandski franak
Name[sv]=Rwandiska franc
Name[uk]=Руандійський франк
Name[x-test]=xxRwandan Francxx
Name[zh_CN]=卢旺达法郎
CurrencyNameIso=Rwanda franc
CurrencyUnitSymbols=RF,RWF
CurrencyUnitSymbolDefault=RF
CurrencyUnitSymbolUnambiguous=RF
CurrencyUnitSingular=franc
CurrencyUnitPlural=francs
CurrencySubunitSymbol=
CurrencySubunitSingular=centime
CurrencySubunitPlural=centimes
CurrencyIntroducedDate=1964,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=RW
