[Currency Code]
CurrencyCodeIsoAlpha3=SAR
CurrencyCodeIsoNumeric3=682
#Context for Name: Adjectival Country Name and Currency Name
Name=Saudi Riyal
Name[ca]=Riyal saudita
Name[de]=Saudi Riyal
Name[es]=Riyal saudí
Name[fi]=Saudi-Arabian rial
Name[fr]=Rial saoudien
Name[gl]=Rial saudí
Name[nds]=Saudsch Rial
Name[nl]=Saoedische Riyal
Name[nn]=Saudisk riyal
Name[pl]=Rial saudyjski
Name[pt]=Rial Saudita
Name[pt_BR]=Rial saudita
Name[sk]=Saudský rial
Name[sl]=savdskoarabski rial
Name[sr]=саудијски ријал
Name[sr@ijekavian]=саудијски ријал
Name[sr@ijekavianlatin]=saudijski rijal
Name[sr@latin]=saudijski rijal
Name[sv]=Saudiarabiska riyal
Name[uk]=Саудівський ріал
Name[x-test]=xxSaudi Riyalxx
CurrencyNameIso=Saudi riyal
CurrencyUnitSymbols=ر.س,SR,SAR
CurrencyUnitSymbolDefault=ر.س
CurrencyUnitSymbolUnambiguous=ر.س
CurrencyUnitSingular=riyal
CurrencyUnitPlural=riyal
CurrencySubunitSymbol=
CurrencySubunitSingular=halala
CurrencySubunitPlural=halala
CurrencyIntroducedDate=1963,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SA
