[Currency Code]
CurrencyCodeIsoAlpha3=SCR
CurrencyCodeIsoNumeric3=690
#Context for Name: Adjectival Country Name and Currency Name
Name=Seychellois Rupee
Name[ca]=Rupia de les Seychelles
Name[de]=Seychellen-Rupie
Name[es]=Rupia seychelense
Name[fi]=Seychellien rupia
Name[fr]=Roupie seychelloise
Name[gl]=Rupia das Seicheles
Name[nds]=Seychelleensch Rupje
Name[nl]=Seychellen rupee
Name[nn]=Seychellisk rupi
Name[pl]=Rupia seszelska
Name[pt]=Rupia das Seychelles
Name[pt_BR]=Rúpia seichelense
Name[sk]=Seychelská rupia
Name[sl]=sejšelska rupija
Name[sr]=сејшелска рупија
Name[sr@ijekavian]=сејшелска рупија
Name[sr@ijekavianlatin]=sejšelska rupija
Name[sr@latin]=sejšelska rupija
Name[sv]=Seychelliska rupee
Name[uk]=Рупія Сейшельських островів
Name[x-test]=xxSeychellois Rupeexx
Name[zh_CN]=塞舌尔卢比
CurrencyNameIso=Seychelles rupee
CurrencyUnitSymbols=SR,SRe,SCR
CurrencyUnitSymbolDefault=SR
CurrencyUnitSymbolUnambiguous=SR
CurrencyUnitSingular=rupee
CurrencyUnitPlural=rupees
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1914,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SC
