[Currency Code]
CurrencyCodeIsoAlpha3=SCR
CurrencyCodeIsoNumeric3=690
#Context for Name: Adjectival Country Name and Currency Name
Name=Seychellois Rupee
Name[ca]=Rupia de les Seychelles
Name[de]=Seychellen-Rupie
Name[gl]=Rupia das Seicheles
Name[nds]=Seychelleensch Rupje
Name[nl]=Seychellen rupee
Name[pl]=Rupia seszelska
Name[pt]=Rupia das Seychelles
Name[pt_BR]=Rúpia seichelense
Name[sv]=Seychelliska rupee
Name[uk]=Рупія Сейшельських островів
Name[x-test]=xxSeychellois Rupeexx
CurrencyNameIso=Seychelles rupee
CurrencyUnitSymbols=SR,SRe,SCR
CurrencyUnitSymbolDefault=SR
CurrencyUnitSymbolUnambiguous=SR
CurrencyUnitSingular=rupee
CurrencyUnitPlural=rupees
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1914,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SC
