[Currency Code]
CurrencyCodeIsoAlpha3=SDD
CurrencyCodeIsoNumeric3=810
#Context for Name: Adjectival Country Name and Currency Name
Name=Sudanese Dinar
Name[ca]=Dinar de Sudan
Name[de]=Sudanesischer Dinar
Name[es]=Dinar sudanés
Name[fi]=Sudanin dinaari
Name[gl]=Dinar sudanés
Name[nds]=Sudaneesch Dinaar
Name[nl]=Soedanese Dinar
Name[pl]=Dinar sudański
Name[pt]=Dinar Sudanês
Name[pt_BR]=Dinar sudanês
Name[sr]=судански динар
Name[sr@ijekavian]=судански динар
Name[sr@ijekavianlatin]=sudanski dinar
Name[sr@latin]=sudanski dinar
Name[sv]=Sudanesiska dinar
Name[uk]=Суданський динар
Name[x-test]=xxSudanese Dinarxx
Name[zh_CN]=苏丹第纳尔
CurrencyNameIso=Sudanese dinar
CurrencyUnitSymbols=LSd,£Sd,SDD
CurrencyUnitSymbolDefault=LSd
CurrencyUnitSymbolUnambiguous=LSd
CurrencyUnitSingular=dinar
CurrencyUnitPlural=dinars
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1992,06,08
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2007,01,10
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
