[Currency Code]
CurrencyCodeIsoAlpha3=SRD
CurrencyCodeIsoNumeric3=968
#Context for Name: Adjectival Country Name and Currency Name
Name=Surinamese Dollar
Name[ca]=Dòlar de Surinam
Name[de]=Suriname-Dollar
Name[es]=Dólar surinamés
Name[fi]=Surinamin dollari
Name[fr]=Dollar surinamien
Name[gl]=Dólar do Surinam
Name[nds]=Surinameesch Dollar
Name[nl]=Surinaamse dollar
Name[nn]=Surinamsk dollar
Name[pl]=Dolar surinamski
Name[pt]=Dólar do Suriname
Name[pt_BR]=Dólar surinamês
Name[ru]=Суринамский доллар
Name[sk]=Surinamský dolár
Name[sl]=surinamski dolar
Name[sr]=суринамски долар
Name[sr@ijekavian]=суринамски долар
Name[sr@ijekavianlatin]=surinamski dolar
Name[sr@latin]=surinamski dolar
Name[sv]=Surinamesisk dollar
Name[uk]=Суринамський долар
Name[x-test]=xxSurinamese Dollarxx
Name[zh_CN]=苏里南元
CurrencyNameIso=Surinam dollar
CurrencyUnitSymbols=$,SRD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=SRD
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=2004,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SR
