[Currency Code]
CurrencyCodeIsoAlpha3=SRG
CurrencyCodeIsoNumeric3=740
#Context for Name: Adjectival Country Name and Currency Name
Name=Surinamese Guilder
Name[ca]=Florí de Surinam
Name[de]=Suriname-Gulden
Name[es]=Florín surinamés
Name[fi]=Surinamin guldeni
Name[gl]=Guilder do Surinam
Name[nds]=Surinameesch Gulden
Name[nl]=Surinaamse gulden
Name[nn]=Surinamsk gylden
Name[pl]=Gulden surinamski
Name[pt]=Florim do Suriname
Name[pt_BR]=Florim surinamês
Name[sk]=Surinamský gulden
Name[sr]=суринамски гулден
Name[sr@ijekavian]=суринамски гулден
Name[sr@ijekavianlatin]=surinamski gulden
Name[sr@latin]=surinamski gulden
Name[sv]=Surinamesisk guilder
Name[uk]=Суринамський гульден
Name[x-test]=xxSurinamese Guilderxx
Name[zh_CN]=苏里南盾
CurrencyNameIso=Suriname guilder
CurrencyUnitSymbols=ƒ,fl,SRG
CurrencyUnitSymbolDefault=ƒ
CurrencyUnitSymbolUnambiguous=SRD
CurrencyUnitSingular=guilder
CurrencyUnitPlural=guilders
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2003,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
