[Currency Code]
CurrencyCodeIsoAlpha3=SSP
#CurrencyCodeIsoNumeric3=
#Context for Name: Adjectival Country Name and Currency Name
Name=South Sudanese Pound
Name[ca]=Lliura de Sudan del Sud
Name[de]=Südsudanesisches Pfund
Name[en_GB]=South Sudanese Pound
Name[es]=Libra sursudanesa
Name[fi]=Etelä-Sudanin punta
Name[fr]=Livre sud-soudanaise
Name[gl]=Libra sur sudanesa
Name[id]=Pound Sudan Selatan
Name[nds]=Söödsudaneesch Pund
Name[nl]=Zuid-Soedanees pond
Name[nn]=Sørsudansk pund
Name[pl]=Funt południowo-sudański 
Name[pt]=Libra do Sudão do Sul
Name[pt_BR]=Libra do Sudão do Sul
Name[ru]=Южносуданский фунт
Name[sk]=Juhosudánska libra
Name[sl]=južnosudanski funt
Name[sr]=јужносуданска фунта
Name[sr@ijekavian]=јужносуданска фунта
Name[sr@ijekavianlatin]=južnosudanska funta
Name[sr@latin]=južnosudanska funta
Name[sv]=Sydsudanesiska pund
Name[uk]=Південносуданський фунт
Name[x-test]=xxSouth Sudanese Poundxx
Name[zh_CN]=南苏丹镑
CurrencyNameIso=South Sudanese pound
CurrencyUnitSymbols=SSP
CurrencyUnitSymbolDefault=SSP
CurrencyUnitSymbolUnambiguous=SSP
CurrencyUnitSingular=pound
CurrencyUnitPlural=pounds
CurrencySubunitSymbol=
CurrencySubunitSingular=piastre
CurrencySubunitPlural=piastres
CurrencyIntroducedDate=2007,01,10
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=SS
