[Currency Code]
CurrencyCodeIsoAlpha3=THB
CurrencyCodeIsoNumeric3=764
#Context for Name: Adjectival Country Name and Currency Name
Name=Thai Baht
Name[ca]=Baht de Tailàndia
Name[de]=Thailändischer Baht
Name[es]=Baht tailandés
Name[fi]=Thaimaan baht
Name[fr]=Baht thaïlandais
Name[gl]=Baht tailandés
Name[nds]=Thailannsch Baht
Name[nl]=Thaise Baht
Name[nn]=Thailandsk baht
Name[pl]=Baht tajlandzki
Name[pt]=Baht Tailandês
Name[pt_BR]=Baht tailandês
Name[ru]=Тайский бат
Name[sk]=Thajský baht
Name[sl]=tajski bat
Name[sr]=тајландски бат
Name[sr@ijekavian]=тајландски бат
Name[sr@ijekavianlatin]=tajlandski bat
Name[sr@latin]=tajlandski bat
Name[sv]=Thailändska baht
Name[uk]=Тайський бат
Name[x-test]=xxThai Bahtxx
Name[zh_CN]=泰铢
CurrencyNameIso=Baht
CurrencyUnitSymbols=฿,THB
CurrencyUnitSymbolDefault=฿
CurrencyUnitSymbolUnambiguous=฿
CurrencyUnitSingular=baht
CurrencyUnitPlural=baht
CurrencySubunitSymbol=
CurrencySubunitSingular=satang
CurrencySubunitPlural=satang
CurrencyIntroducedDate=1897,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=TH
