[Currency Code]
CurrencyCodeIsoAlpha3=TMM
CurrencyCodeIsoNumeric3=795
#Context for Name: Adjectival Country Name and Currency Name
Name=Turkmenistani Old Manat
Name[ar]=المنات التركمانستاني القديم
Name[ca]=Manat antic del Turkmenistan
Name[de]=Alter Manat von Turkmenistan
Name[en_GB]=Turkmenistani Old Manat
Name[es]=Antiguo manat turkmeno
Name[fi]=Turkmenistanin vanha manat
Name[fr]=Ancien manat turkmène
Name[gl]=Manat vello do Turkmenistán
Name[id]=Old Manat Turkmenistan
Name[nds]=Turkmeensch ole Manat
Name[nl]=Turkmenistan oude manat
Name[nn]=Turkmensk gammal manat
Name[pa]=ਤੁਰਕੇਮਸਤਾਨ ਪੁਰਾਣਾ ਮਨਤ
Name[pl]=Stary manat turkmenistański
Name[pt]=Manat Antigo do Turquemenistão
Name[pt_BR]=Antigo manat turcomeno
Name[ru]=Туркменский манат (до 2009 года)
Name[sk]=Turkménsky starý manat
Name[sl]=turkmenski stari manat
Name[sr]=туркменистански стари манат
Name[sr@ijekavian]=туркменистански стари манат
Name[sr@ijekavianlatin]=turkmenistanski stari manat
Name[sr@latin]=turkmenistanski stari manat
Name[sv]=Turkmenistansk gammal manat
Name[uk]=Туркменський старий манат
Name[x-test]=xxTurkmenistani Old Manatxx
Name[zh_CN]=旧土库曼斯坦马纳特
Name[zh_TW]=塔吉克─索莫尼（Somoni）
CurrencyNameIso=Turkmenistani manat
CurrencyUnitSymbols=m,TMM
CurrencyUnitSymbolDefault=m
CurrencyUnitSymbolUnambiguous=TMM
CurrencyUnitSingular=manat
CurrencyUnitPlural=manat
CurrencySubunitSymbol=
CurrencySubunitSingular=tennesi
CurrencySubunitPlural=tennesi
CurrencyIntroducedDate=1993,11,01
#CurrencySuspendedDate=
CurrencyWithdrawnDate=2008,12,31
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
