[Currency Code]
CurrencyCodeIsoAlpha3=TMM
CurrencyCodeIsoNumeric3=795
#Context for Name: Adjectival Country Name and Currency Name
Name=Turkmenistani Manat
Name[ca]=Manat del Turkmenistan
Name[de]=Turkmenistan-Manat
Name[es]=Manat turkmeno
Name[fi]=Turkmenistanin manat
Name[gl]=Manat do Turkmenistán
Name[nds]=Turkmeensch Manat
Name[nl]=Turkmenistan manat
Name[pl]=Manat turkmenistański
Name[pt]=Manat Turquemeno
Name[pt_BR]=Manat turcomeno
Name[sr]=туркменистански манат
Name[sr@ijekavian]=туркменистански манат
Name[sr@ijekavianlatin]=turkmenistanski manat
Name[sr@latin]=turkmenistanski manat
Name[sv]=Turkmenistansk manat
Name[uk]=Туркменський манат
Name[x-test]=xxTurkmenistani Manatxx
Name[zh_CN]=土库曼斯坦马纳特
CurrencyNameIso=Manat
CurrencyUnitSymbols=m,TMM
CurrencyUnitSymbolDefault=m
CurrencyUnitSymbolUnambiguous=m
CurrencyUnitSingular=manat
CurrencyUnitPlural=manat
CurrencySubunitSymbol=
CurrencySubunitSingular=tennesi
CurrencySubunitPlural=tennesi
CurrencyIntroducedDate=2009,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=TM
