[Currency Code]
CurrencyCodeIsoAlpha3=TND
CurrencyCodeIsoNumeric3=788
#Context for Name: Adjectival Country Name and Currency Name
Name=Tunisian Dinar
Name[ca]=Dinar tunisià
Name[de]=Tunesischer Dinar
Name[es]=Dinar tunecino
Name[fi]=Tunisian dinaari
Name[gl]=Dinar tunisiano
Name[nds]=Tuneesch Dinaar
Name[nl]=Tunesische Dinar
Name[nn]=Tunisisk dinar
Name[pl]=Dinar tunezyjski
Name[pt]=Dinar Tunisino
Name[pt_BR]=Dinar tunisiano
Name[sk]=Tuniský dinár
Name[sr]=тунишки динар
Name[sr@ijekavian]=тунишки динар
Name[sr@ijekavianlatin]=tuniški dinar
Name[sr@latin]=tuniški dinar
Name[sv]=Tunisiska dinar
Name[uk]=Туніський динар
Name[x-test]=xxTunisian Dinarxx
Name[zh_CN]=突尼斯第纳尔
CurrencyNameIso=Tunisian dinar
CurrencyUnitSymbols=د.ت,DT,TND
CurrencyUnitSymbolDefault=د.ت
CurrencyUnitSymbolUnambiguous=د.ت
CurrencyUnitSingular=dinar
CurrencyUnitPlural=dinar
CurrencySubunitSymbol=
CurrencySubunitSingular=milim
CurrencySubunitPlural=milim
CurrencyIntroducedDate=1960,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
CurrencySubunitsPerUnit=1000
CurrencyDecimalPlacesDisplay=3
CurrencyCountriesInUse=TN
