[Currency Code]
CurrencyCodeIsoAlpha3=TTD
CurrencyCodeIsoNumeric3=780
#Context for Name: Adjectival Country Name and Currency Name
Name=Trinidad and Tobago Dollar
Name[ca]=Dòlar de Trinitat i Tobago
Name[de]=Trinidad-und-Tobago-Dollar
Name[es]=Dólar de Trinidad y Tobago
Name[fi]=Trinidadin ja Tobagon dollari
Name[gl]=Dólar de Trindade e Tobago
Name[nds]=Trinidad-un-Tobago-Dollar
Name[nl]=Trinidad en Tobago Dollar
Name[pl]=Dolar Trynidad i Tobago
Name[pt]=Dólar de Trindade e Tobago
Name[pt_BR]=Dólar trinitário
Name[sr]=тринидадитобагоски долар
Name[sr@ijekavian]=тринидадитобагоски долар
Name[sr@ijekavianlatin]=trinidaditobagoski dolar
Name[sr@latin]=trinidaditobagoski dolar
Name[sv]=Trinidad och Tobago-dollar
Name[uk]=Долар Тринідаду та Тобаго
Name[x-test]=xxTrinidad and Tobago Dollarxx
CurrencyNameIso=Trinidad and Tobago dollar
CurrencyUnitSymbols=$,TT$,TTD
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=TT$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=¢
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=1964,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=TT
