[Currency Code]
CurrencyCodeIsoAlpha3=UAH
CurrencyCodeIsoNumeric3=980
#Context for Name: Adjectival Country Name and Currency Name
Name=Ukrainian Hryvnia
Name[ca]=Hrívnia d'Ucraïna
Name[de]=Ukrainischer Hrywnja
Name[es]=Grivna ucraniana
Name[fi]=Ukrainan hryvnia
Name[gl]=Hryvnia ucraína
Name[nds]=Ukrainsch Griwnja
Name[nl]=Oekraïense grivna
Name[pl]=Hrywna ukraińska
Name[pt]=Hryvnia Ucraniano
Name[pt_BR]=Hryvnia ucraniano
Name[sr]=украјинска гривна
Name[sr@ijekavian]=украјинска гривна
Name[sr@ijekavianlatin]=ukrajinska grivna
Name[sr@latin]=ukrajinska grivna
Name[sv]=Ukrainska hryvnja
Name[uk]=Українська гривня
Name[x-test]=xxUkrainian Hryvniaxx
Name[zh_CN]=乌克兰赫夫米
CurrencyNameIso=Hryvnia
CurrencyUnitSymbols=₴,UAH
CurrencyUnitSymbolDefault=₴
CurrencyUnitSymbolUnambiguous=₴
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1996,09,02
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=UA
