[Currency Code]
CurrencyCodeIsoAlpha3=UYU
CurrencyCodeIsoNumeric3=858
#Context for Name: Adjectival Country Name and Currency Name
Name=Uruguayan Peso
Name[ca]=Peso d'Uruguai
Name[de]=Uruguayischer Peso
Name[es]=Peso uruguayo
Name[fi]=Uruguayn peso
Name[gl]=Peso uruguaio
Name[nds]=Uruguaysch Peso
Name[nl]=Uruguayaanse Peso
Name[pl]=Peso urugwajskie
Name[pt]=Peso Uruguaio
Name[pt_BR]=Peso uruguaio
Name[sk]=Uruguajské peso
Name[sr]=уругвајски пезос
Name[sr@ijekavian]=уругвајски пезос
Name[sr@ijekavianlatin]=urugvajski pezos
Name[sr@latin]=urugvajski pezos
Name[sv]=Uruguanska peso
Name[uk]=Уругвайське песо
Name[x-test]=xxUruguayan Pesoxx
Name[zh_CN]=乌拉圭比索
CurrencyNameIso=Peso Uruguayo
CurrencyUnitSymbols=$,U$,UYU
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=U$
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1993,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=UY
