[Currency Code]
CurrencyCodeIsoAlpha3=WST
CurrencyCodeIsoNumeric3=882
#Context for Name: Adjectival Country Name and Currency Name
Name=Samoan Tala
Name[ca]=Tala de Samoa
Name[de]=Samoanischer Tala
Name[es]=Tala samoano
Name[fi]=Samoan tala
Name[gl]=Tala samoana
Name[nds]=Samoaansch Tala
Name[nl]=Samoaanse Tala
Name[pl]=Tala samoańskie
Name[pt]=Tala Samoano
Name[pt_BR]=Tala samoano
Name[sk]=Samojská tala
Name[sr]=самоанска тала
Name[sr@ijekavian]=самоанска тала
Name[sr@ijekavianlatin]=samoanska tala
Name[sr@latin]=samoanska tala
Name[sv]=Samoaniska tala
Name[uk]=Самоанська тала
Name[x-test]=xxSamoan Talaxx
Name[zh_CN]=萨摩亚塔拉
CurrencyNameIso=Samoan tala
CurrencyUnitSymbols=WS$,SAT,ST,T,WST
CurrencyUnitSymbolDefault=WS$
CurrencyUnitSymbolUnambiguous=WS$
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1967,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=WS
