[Currency Code]
CurrencyCodeIsoAlpha3=XPF
CurrencyCodeIsoNumeric3=953
#Context for Name: Adjectival Country Name and Currency Name
Name=CFP Franc
Name[ca]=Franc CFP
Name[de]=CFP-Franc
Name[es]=Franco CFP
Name[fi]=CFP-frangi
Name[gl]=Franco CFP
Name[nds]=CFP-Franc
Name[nl]=CFP-Frank
Name[nn]=CFP-franc
Name[pl]=Frank CFP
Name[pt]=Franco do CFP
Name[pt_BR]=Franco CFP
Name[sk]=Frank CFP
Name[sl]=Frank CFP
Name[sr]=ЦФП франак
Name[sr@ijekavian]=ЦФП франак
Name[sr@ijekavianlatin]=CFP franak
Name[sr@latin]=CFP franak
Name[sv]=CFP-franc
Name[uk]=Франк CFP
Name[x-test]=xxCFP Francxx
Name[zh_CN]=太平洋法郎
CurrencyNameIso=CFP franc
CurrencyUnitSymbols=F,XPF
CurrencyUnitSymbolDefault=F
CurrencyUnitSymbolUnambiguous=XPF
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1945,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=PF,NC,WF

