[Currency Code]
CurrencyCodeIsoAlpha3=XPF
CurrencyCodeIsoNumeric3=953
#Context for Name: Adjectival Country Name and Currency Name
Name=CFP Franc
Name[ca]=Franc CFP
Name[de]=CFP-Franc
Name[gl]=Franco CFP
Name[nds]=CFP-Franc
Name[nl]=CFP-Frank
Name[pl]=Frank CFP
Name[pt]=Franco do CFP
Name[pt_BR]=Franco CFP
Name[sv]=CFP-franc
Name[uk]=Франк CFP
Name[x-test]=xxCFP Francxx
CurrencyNameIso=CFP franc
CurrencyUnitSymbols=F,XPF
CurrencyUnitSymbolDefault=F
CurrencyUnitSymbolUnambiguous=XPF
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1945,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=PF,NC,WF

