[Currency Code]
CurrencyCodeIsoAlpha3=XPT
CurrencyCodeIsoNumeric3=962
#Context for Name: Adjectival Country Name and Currency Name
Name=Platinum
Name[be]=Платына
Name[br]=Platinum
Name[ca]=Platinum
Name[cy]=Platinwm
Name[de]=Platinum
Name[en_GB]=Platinum
Name[fa]=پلاتین
Name[fy]=Platinum
Name[ga]=Platinum
Name[gl]=Platino
Name[hr]=Platinum
Name[lb]=Platinum
Name[nds]=Platin
Name[nl]=Platina
Name[pl]=Platyna
Name[pt]=Platina
Name[pt_BR]=Platinum
Name[ro]=Platinum
Name[sv]=Platina
Name[uk]=Платина
Name[uz]=Platinum
Name[uz@cyrillic]=Platinum
Name[vi]=Bạch kim
Name[x-test]=xxPlatinumxx
Name[zh_HK]=Platinum
CurrencyNameIso=Platinum
CurrencyUnitSymbols=XPT
CurrencyUnitSymbolDefault=XPT
CurrencyUnitSymbolUnambiguous=XPT
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
