[Currency Code]
CurrencyCodeIsoAlpha3=XPT
CurrencyCodeIsoNumeric3=962
#Context for Name: Adjectival Country Name and Currency Name
Name=Platinum
Name[ar]=البلاتينوم
Name[be]=Платына
Name[br]=Platinum
Name[ca]=Platinum
Name[cy]=Platinwm
Name[de]=Platinum
Name[en_GB]=Platinum
Name[es]=Platino
Name[fa]=پلاتین
Name[fi]=Platina
Name[fr]=Platine
Name[fy]=Platinum
Name[ga]=Platinum
Name[gl]=Platino
Name[hr]=Platinum
Name[id]=Platinum
Name[lb]=Platinum
Name[nds]=Platin
Name[nl]=Platina
Name[nn]=Platinum
Name[pl]=Platyna
Name[pt]=Platina
Name[pt_BR]=Platinum
Name[ro]=Platinum
Name[ru]=Платина
Name[se]=Platinum
Name[sk]=Platinum
Name[sl]=platina
Name[sr]=платина
Name[sr@ijekavian]=платина
Name[sr@ijekavianlatin]=platina
Name[sr@latin]=platina
Name[sv]=Platina
Name[uk]=Платина
Name[uz]=Platinum
Name[uz@cyrillic]=Platinum
Name[vi]=Bạch kim
Name[x-test]=xxPlatinumxx
Name[zh_CN]=普拉蒂纳姆
Name[zh_HK]=Platinum
CurrencyNameIso=Platinum
CurrencyUnitSymbols=XPT
CurrencyUnitSymbolDefault=XPT
CurrencyUnitSymbolUnambiguous=XPT
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
#CurrencyIntroducedDate=
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=
