[Currency Code]
CurrencyCodeIsoAlpha3=ZMK
CurrencyCodeIsoNumeric3=894
#Context for Name: Adjectival Country Name and Currency Name
Name=Zambian Kwacha
Name[ca]=Kwacha de Zàmbia
Name[de]=Sambischer Kwacha
Name[fi]=Sambian kwacha
Name[gl]=Kwacha da Zambia
Name[nds]=Sambiaansch Kwacha
Name[nl]=Zambiaanse Kwacha
Name[pl]=Kwacha zambijska
Name[pt]=Kwacha da Zâmbia
Name[pt_BR]=Kwacha zambiano
Name[sv]=Zambianska kwacha
Name[uk]=Замбійська квача
Name[x-test]=xxZambian Kwachaxx
CurrencyNameIso=Kwacha
CurrencyUnitSymbols=ZK,ZMK
CurrencyUnitSymbolDefault=ZK
CurrencyUnitSymbolUnambiguous=ZK
CurrencyUnitSingular=
CurrencyUnitPlural=
CurrencySubunitSymbol=
CurrencySubunitSingular=
CurrencySubunitPlural=
CurrencyIntroducedDate=1968,01,01
#CurrencySuspendedDate=
#CurrencyWithdrawnDate=
#CurrencySubunits=1
CurrencySubunitsInCirculation=false
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=ZM
