[Currency Code]
CurrencyCodeIsoAlpha3=ZWL
CurrencyCodeIsoNumeric3=932
#Context for Name: Adjectival Country Name and Currency Name
Name=Zimbabwean Dollar
Name[ar]=الدولار الزمبابوي
Name[ca]=Dòlar de Zimbabwe
Name[de]=Simbabwe-Dollar
Name[en_GB]=Zimbabwean Dollar
Name[es]=Dólar zimbabuense
Name[fi]=Zimbabwen dollari
Name[fr]=Dollar zimbabwéen
Name[gl]=Dólar cimbabués
Name[id]=Dollar Zimbabwe
Name[nds]=Simbabweesch Dollar
Name[nl]=Zimbabwaanse dollar
Name[nn]=Zimbabwisk dollar
Name[pa]=ਜਿੰਬਾਬਵੇਂ ਡਾਲਰ
Name[pl]=Dolar zimbabweński
Name[pt]=Dólar do Zimbabwe
Name[pt_BR]=Dólar zimbabuano
Name[ru]=Зимбабвийский доллар
Name[sk]=Zimbabwiansky dolár
Name[sl]=zimbabvejski dolar
Name[sr]=зимбабвеански долар
Name[sr@ijekavian]=зимбабвеански долар
Name[sr@ijekavianlatin]=zimbabveanski dolar
Name[sr@latin]=zimbabveanski dolar
Name[sv]=Zimbabwiska dollar
Name[uk]=Зімбабвійський долар
Name[x-test]=xxZimbabwean Dollarxx
Name[zh_CN]=津巴布韦元
Name[zh_TW]=辛巴威─元（Dollar）
CurrencyNameIso=Zimbabwe dollar
CurrencyUnitSymbols=$,Z$,ZWL
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=Z$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=2009,02,02
CurrencySuspendedDate=2009,04,12
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=ZW
