[Currency Code]
CurrencyCodeIsoAlpha3=ZWL
CurrencyCodeIsoNumeric3=932
#Context for Name: Adjectival Country Name and Currency Name
Name=Zimbabwean Dollar
Name[ca]=Dòlar de Zimbabwe
Name[de]=Simbabwe-Dollar
Name[fi]=Zimbabwen dollari
Name[gl]=Dólar cimbabués
Name[nds]=Simbabweesch Dollar
Name[nl]=Zimbabwaanse dollar
Name[pl]=Dolar zimbabweński
Name[pt]=Dólar do Zimbabwe
Name[pt_BR]=Dólar zimbabuano
Name[sv]=Zimbabwiska dollar
Name[uk]=Зімбабвійський долар
Name[x-test]=xxZimbabwean Dollarxx
CurrencyNameIso=Zimbabwe dollar
CurrencyUnitSymbols=$,Z$,ZWL
CurrencyUnitSymbolDefault=$
CurrencyUnitSymbolUnambiguous=Z$
CurrencyUnitSingular=dollar
CurrencyUnitPlural=dollars
CurrencySubunitSymbol=
CurrencySubunitSingular=cent
CurrencySubunitPlural=cents
CurrencyIntroducedDate=2009,02,02
CurrencySuspendedDate=2009,04,12
#CurrencyWithdrawnDate=
#CurrencySubunits=1
#CurrencySubunitsInCirculation=true
#CurrencySubunitsPerUnit=100
#CurrencyDecimalPlacesDisplay=2
CurrencyCountriesInUse=ZW
