[KCM Locale]
Name=Indonesia
Name[ca]=Indonèsia
Name[cs]=Indonésie
Name[de]=Indonesien
Name[es]=Indonesia
Name[fi]=Indonesia
Name[fr]=Indonésie
Name[gl]=Indonesia
Name[hr]=Indonezija
Name[ia]=Indonesia
Name[it]=Indonesia
Name[ka]=ინდონეზია
Name[nb]=Indonesia
Name[nds]=Indonesien
Name[nl]=Indonesië
Name[nn]=Indonesia
Name[pl]=Indonezja
Name[pt]=Indonésia
Name[pt_BR]=Indonésia
Name[se]=Indonesia
Name[sk]=Indonézia
Name[sl]=Indonezija
Name[sr]=Индонезија
Name[sr@ijekavian]=Индонезија
Name[sr@ijekavianlatin]=Indonezija
Name[sr@latin]=Indonezija
Name[sv]=Indonesien
Name[uk]=Індонезія
Name[x-test]=xxIndonesiaxx
Name[zh_CN]=印度尼西亚
Region=southeastasia
Languages=id
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
NegativeMonetarySignPosition=1
DateFormat[id]=%A, %d %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%e/%m/%Y
TimeFormat=%H:%M:%S
#WorkingWeekStartDay=
#WorkingWeekEndDay=
WeekDayOfPray=5
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=IDR
CurrencyCode=IDR
