[KCM Locale]
Name=Burundi
Name[ca]=Burundi
Name[cs]=Burundi
Name[de]=Burundi
Name[hr]=Burundi
Name[ia]=Burundi
Name[it]=Burundi
Name[ka]=ბურუნდი
Name[nb]=Burundi
Name[nds]=Burundi
Name[nl]=Burundi
Name[nn]=Burundi
Name[pl]=Burundi
Name[pt]=Burundi
Name[pt_BR]=Burundi
Name[se]=Burundi
Name[sk]=Burundi
Name[sr]=Бурунди
Name[sr@ijekavian]=Бурунди
Name[sr@ijekavianlatin]=Burundi
Name[sr@latin]=Burundi
Name[sv]=Burundi
Name[uk]=Бурунді
Name[x-test]=xxBurundixx
Region=centralafrica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=BIF
CurrencyCode=BIF
