[KCM Locale]
Name=Burundi
Name[uk]=Бурунді
Name[x-test]=xxBurundixx
Region=centralafrica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=BIF
CurrencyCode=BIF
