[KCM Locale]
Name=Madagascar
Name[ca]=Madagascar
Name[cs]=Madagaskar
Name[de]=Madagaskar
Name[es]=Madagascar
Name[fi]=Madagaskar
Name[gl]=Madagascar
Name[hr]=Madagaskar
Name[ia]=Madagascar
Name[it]=Madagascar
Name[ka]=მადაგასკარი
Name[nb]=Madagaskar
Name[nds]=Madagaskar
Name[nl]=Madagascar
Name[nn]=Madagaskar
Name[pl]=Madagaskar
Name[pt]=Madagáscar
Name[pt_BR]=Madagascar
Name[se]=Madagaskar
Name[sk]=Madagaskar
Name[sr]=Мадагаскар
Name[sr@ijekavian]=Мадагаскар
Name[sr@ijekavianlatin]=Madagaskar
Name[sr@latin]=Madagaskar
Name[sv]=Madagaskar
Name[uk]=Мадагаскар
Name[x-test]=xxMadagascarxx
Name[zh_CN]=马达加斯加
Region=southafrica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
MonetaryDecimalPlaces=1
CurrencyCodesInUse=MGA
CurrencyCode=MGA
