[KCM Locale]
Name=Nepal
Name[ca]=Nepal
Name[de]=Nepal
Name[hr]=Nepal
Name[it]=Nepal
Name[ka]=ნეპალი
Name[nb]=Nepal
Name[nl]=Nepal
Name[nn]=Nepal
Name[pl]=Nepal
Name[pt]=Nepal
Name[pt_BR]=Nepal
Name[se]=Nepal
Name[sk]=Nepál
Name[sr]=Непал
Name[sr@ijekavian]=Непал
Name[sr@ijekavianlatin]=Nepal
Name[sr@latin]=Nepal
Name[sv]=Nepal
Name[uk]=Непал
Name[x-test]=xxNepalxx
Region=southasia
Languages=en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=NPR
CurrencyCode=NPR
