[KCM Locale]
Name=Mauritania
Name[ca]=Mauritània
Name[cs]=Mauretánie
Name[de]=Mauretanien
Name[hr]=Mauritanija
Name[ia]=Mauritania
Name[it]=Mauritania
Name[ka]=მავრიტანია
Name[nb]=Mauritania
Name[nds]=Mauretanien
Name[nl]=Mauritanië
Name[nn]=Mauritania
Name[pl]=Mauretania
Name[pt]=Mauritânia
Name[pt_BR]=Mauritânia
Name[se]=Mauritania
Name[sk]=Mauritánia
Name[sr]=Мауританија
Name[sr@ijekavian]=Мауританија
Name[sr@ijekavianlatin]=Mauritanija
Name[sr@latin]=Mauritanija
Name[sv]=Mauretanien
Name[uk]=Мавританія
Name[x-test]=xxMauritaniaxx
Region=westafrica
Languages=ar,en_GB
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
MonetaryDecimalPlaces=1
CurrencyCodesInUse=MRO
CurrencyCode=MRO
