[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KFileWrite

Comment=KFileWrite plugin
Comment[nl]=KFileWrite-plugin
Comment[uk]=Додаток KFileWrite
Comment[x-test]=xxKFileWrite pluginxx

[PropertyDef::MetaDataKeys]
Type=QStringList

