[KCM Locale]
Name=Romania
Name[ca]=Romania
Name[cs]=Rumunsko
Name[de]=Rumänien
Name[gl]=Romanía
Name[hr]=Rumunjska
Name[ia]=Romania
Name[it]=Romania
Name[ka]=რუმინეთი
Name[nb]=Romania
Name[nds]=Rumänien
Name[nl]=Roemenië
Name[nn]=Romania
Name[pl]=Rumunia
Name[pt]=Roménia
Name[pt_BR]=Romênia
Name[se]=Románia
Name[sk]=Rumunsko
Name[sr]=Румунија
Name[sr@ijekavian]=Румунија
Name[sr@ijekavianlatin]=Rumunija
Name[sr@latin]=Rumunija
Name[sv]=Rumänien
Name[uk]=Румунія
Name[x-test]=xxRomaniaxx
Region=easteurope
Languages=ro
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[ro]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d %m %Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=RON
CurrencyCode=RON
