[KCM Locale]
Name=Latvia
Name[ca]=Letònia
Name[de]=Lettland
Name[hr]=Latvija
Name[it]=Lettonia
Name[ka]=ლატვია
Name[nb]=Latvia
Name[nl]=Letland
Name[nn]=Latvia
Name[pl]=Łotwa
Name[pt]=Letónia
Name[pt_BR]=Letônia
Name[se]=Látvia
Name[sk]=Lotyšsko
Name[sr]=Летонија
Name[sr@ijekavian]=Летонија
Name[sr@ijekavianlatin]=Letonija
Name[sr@latin]=Letonija
Name[sv]=Lettland
Name[uk]=Латвія
Name[x-test]=xxLatviaxx
Region=northeurope
Languages=lv
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=2
NegativeMonetarySignPosition=2
DateFormat[lv]=%A, %e. %B %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=LVL
CurrencyCode=LVL
