[KCM Locale]
Name=Qatar
Name[nl]=Qatar
Name[uk]=Катар
Name[x-test]=xxQatarxx
Region=middleeast
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=QAR
CurrencyCode=QAR
