[KCM Locale]
Name=French Guiana
Name[ca]=Guaiana Francesa
Name[cs]=Francouzská Guyana
Name[de]=Französisch-Guyana
Name[hr]=Francuska Gvajana
Name[ia]=Guiana Francese
Name[it]=Guiana francese
Name[nds]=Franzöösch Guayana
Name[nl]=Frans Guyana
Name[nn]=Fransk Guyana
Name[pl]=Gujana Francuska
Name[pt]=Guiana Francesa
Name[pt_BR]=Guiana Francesa
Name[sk]=Francúzska Guyana
Name[sr]=Француска Гијана
Name[sr@ijekavian]=Француска Гијана
Name[sr@ijekavianlatin]=Francuska Gijana
Name[sr@latin]=Francuska Gijana
Name[sv]=Franska Guyana
Name[uk]=Французька Гвіана
Name[x-test]=xxFrench Guianaxx

Region=southamerica
Languages=fr
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
