[KCM Locale]
Author=Eugene Onischenko <oneugene@ukr.net>
Name=Ukraine
Name[ca]=Ucraïna
Name[cs]=Ukrajina
Name[de]=Ukraine
Name[gl]=Ucraína
Name[hr]=Ukrajina
Name[ia]=Ukraina
Name[it]=Ucraina
Name[ka]=უკრაინა
Name[nb]=Ukraina
Name[nds]=Ukraine
Name[nl]=Oekraïne
Name[nn]=Ukraina
Name[pl]=Ukraina
Name[pt]=Ucrânia
Name[pt_BR]=Ucrânia
Name[se]=Ukraina
Name[sk]=Ukrajina
Name[sr]=Украјина
Name[sr@ijekavian]=Украјина
Name[sr@ijekavianlatin]=Ukrajina
Name[sr@latin]=Ukrajina
Name[sv]=Ukraina
Name[uk]=Україна
Name[x-test]=xxUkrainexx
Region=easteurope
Languages=uk
DecimalSymbol=,
ThousandsSeparator=$0 $0
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[uk]=%A, %d-%b-%Y
DateFormat[ru]=%A, %d-%b-%Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
WeekStartDay=1
MeasureSystem=0
PageSize=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=UAH
CurrencyCode=UAH
