[KCM Locale]
Name=Tunisia
Name[uk]=Туніс
Name[x-test]=xxTunisiaxx
Region=northafrica
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=TND
CurrencyCode=TND
