[KCM Locale]
Name=Albania
Name[ca]=Albània
Name[cs]=Albánie
Name[de]=Albanien
Name[en_GB]=Albania
Name[es]=Albania
Name[fi]=Albania
Name[fr]=Albanie
Name[gl]=Albania
Name[hr]=Albanija
Name[ia]=Albania
Name[id]=Albania
Name[it]=Albania
Name[ka]=ალბანეთი
Name[nb]=Albania
Name[nds]=Albanien
Name[nl]=Albanië
Name[nn]=Albania
Name[pl]=Albania
Name[pt]=Albânia
Name[pt_BR]=Albânia
Name[ru]=Албания
Name[se]=Albánia
Name[sk]=Albánsko
Name[sl]=Albanija
Name[sr]=Албанија
Name[sr@ijekavian]=Албанија
Name[sr@ijekavianlatin]=Albanija
Name[sr@latin]=Albanija
Name[sv]=Albanien
Name[uk]=Албанія
Name[x-test]=xxAlbaniaxx
Name[zh_CN]=阿尔巴尼亚
Region=southeurope
Languages=sq,el
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
DateFormat[sq]=%a, %d %B %Y
DateFormatShort=%Y-%m-%d
TimeFormat=%l.%M.%S.%p
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=ALL
CurrencyCode=ALL
