[KCM Locale]
Name=Albania
Name[ca]=Albània
Name[hr]=Albanija
Name[ka]=ალბანეთი
Name[nb]=Albania
Name[nl]=Albanië
Name[nn]=Albania
Name[pt_BR]=Albânia
Name[se]=Albánia
Name[sk]=Albánsko
Name[sr]=Албанија
Name[sr@ijekavian]=Албанија
Name[sr@ijekavianlatin]=Albanija
Name[sr@latin]=Albanija
Name[sv]=Albanien
Name[uk]=Албанія
Name[x-test]=xxAlbaniaxx
Region=southeurope
Languages=sq,el
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=3
NegativeMonetarySignPosition=3
DateFormat[sq]=%a, %d %B %Y
DateFormatShort=%Y-%m-%d
TimeFormat=%l.%M.%S.%p
WeekStartDay=7
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=ALL
CurrencyCode=ALL
