[KCM Locale]
Name=Tajikistan
Name[ca]=Tadjikistan
Name[cs]=Tádžikistán
Name[de]=Tadschikistan
Name[fi]=Tadžikistan
Name[gl]=Taxiquistán
Name[hr]=Tadžikistan
Name[ia]=Tajikistan
Name[it]=Tajikistan
Name[ka]=ტაჯიკეთი
Name[nb]=Tadsjikistan
Name[nds]=Tadschikistan
Name[nl]=Tadzjikistan
Name[nn]=Tadsjikistan
Name[pl]=Tadżykistan
Name[pt]=Tajiquistão
Name[pt_BR]=Tadjiquistão
Name[se]=Tažikistan
Name[sk]=Tadžikistan
Name[sr]=Таџикистан
Name[sr@ijekavian]=Таџикистан
Name[sr@ijekavianlatin]=Tadžikistan
Name[sr@latin]=Tadžikistan
Name[sv]=Tadzjikistan
Name[uk]=Таджикистан
Name[x-test]=xxTajikistanxx
Name[zh_CN]=塔吉克斯坦
Region=centralasia
Languages=tg
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=TJS
CurrencyCode=TJS
