[KCM Locale]
Name=United Arab Emirates
Name[uk]=Об’єднані Арабські Емірати
Name[x-test]=xxUnited Arab Emiratesxx
Region=middleeast
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=AED
CurrencyCode=AED
