[KCM Locale]
Name=Ireland
Name[ca]=Irlanda
Name[cs]=Irsko
Name[de]=Irland
Name[es]=Irlanda
Name[fi]=Irlanti
Name[gl]=Irlanda
Name[hr]=Irska
Name[ia]=Irlanda
Name[it]=Irlanda
Name[ka]=ირლანდია
Name[nb]=Irland
Name[nds]=Irland
Name[nl]=Ierland
Name[nn]=Irland
Name[pl]=Irlandia
Name[pt]=Irlanda
Name[pt_BR]=Irlanda
Name[se]=Irlánda
Name[sk]=Írsko
Name[sl]=Irska
Name[sr]=Ирска
Name[sr@ijekavian]=Ирска
Name[sr@ijekavianlatin]=Irska
Name[sr@latin]=Irska
Name[sv]=Irland
Name[uk]=Ірландія
Name[x-test]=xxIrelandxx
Name[zh_CN]=爱尔兰
Region=westeurope
Languages=en_GB,ga
DecimalSymbol=.
ThousandsSeparator=,
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[ga]=%a %d %b %Y
DateFormat[en_GB]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
