[KCM Locale]
Name=Lesotho
Name[nl]=Lesotho
Name[uk]=Лесото
Name[x-test]=xxLesothoxx
Region=southafrica
Languages=en_GB,zu,xh,st
#DecimalSymbol=,
#ThousandsSeparator=
#MonetaryDecimalSymbol=
#MonetaryThousandsSeparator=
#PositiveSign=
#NegativeSign=-
#PositivePrefixCurrencySymbol=
#NegativePrefixCurrencySymbol=true
#PositiveMonetarySignPosition=1
#NegativeMonetarySignPosition=1
#DateFormat[??]=
#DateFormatShort=
#TimeFormat=
#WeekStartDay=
#PageSize=
#MeasureSystem=
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=LSL,ZAR
CurrencyCode=LSL,ZAR
