[KCM Locale]
Author=Pedro Morais <morais@kde.org>
Name=Portugal
Name[ca]=Portugal
Name[de]=Portugal
Name[hr]=Portugal
Name[ka]=პორტუგალია
Name[nb]=Portugal
Name[nl]=Portugal
Name[nn]=Portugal
Name[pl]=Portugalia
Name[pt_BR]=Portugal
Name[se]=Portugal
Name[sk]=Portugalsko
Name[sr]=Португал
Name[sr@ijekavian]=Португал
Name[sr@ijekavianlatin]=Portugal
Name[sr@latin]=Portugal
Name[sv]=Portugal
Name[uk]=Португалія
Name[x-test]=xxPortugalxx
Region=westeurope
Languages=pt
DecimalSymbol=,
ThousandsSeparator=.
MonetaryDecimalSymbol=
MonetaryThousandsSeparator=.
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=false
NegativePrefixCurrencySymbol=false
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
TimeFormat=%H:%M:%S
DateFormat[pt]=%A, %e de %B de %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%Y-%m-%d
WeekStartDay=7
PageSize=0
MeasureSystem=0
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=EUR
CurrencyCode=EUR
