[KCM Locale]
Name=Syria
Name[uk]=Сирія
Name[x-test]=xxSyriaxx
Region=middleeast
Languages=ar
DecimalSymbol=,
DateFormatShort=%y/%m/%d
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=SYP
CurrencyCode=SYP
